@model IEnumerable<InformatieBoordModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="news-items-holder" id="news-items-holder">
    
    @foreach (var informatieBoordItem in Model)
    {
        <div class="child">
            <h1 class="heading">@informatieBoordItem.Title</h1>
            <p class="text">@informatieBoordItem.Content</p>
            <div class="image-overlay">
                <img src="@informatieBoordItem.Image">
                <div class="overlay"></div>
            </div>
        </div>
    }
    
</div>
