@model IEnumerable<InformatieBoordModel>

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="~/css/school.css"/>

<div class="news-items-holder" id="news-items-holder">

    @foreach (var informatieBoordItem in Model)
    {
        <div class="child">
            <div class="text-holder">
                <h1 class="heading">@informatieBoordItem.Title</h1>
                <p class="text">@informatieBoordItem.Content</p>
            </div>
            <div class="image-overlay">
                <img src="@informatieBoordItem.Image">
                <div class="overlay"></div>
            </div>
        </div>
    }

</div>