@model InformatieBoordModel

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="~/css/school.css" />

<div class="message-container">
    <div class="message">
        <h1 class="message-heading">@Model.Title</h1>
        <p class="message-text">@Model.Content</p>
        <div class="message-image-overlay">
            <img src="@Model.Image">
        </div>
    </div>
</div>