@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style xmlns="http://www.w3.org/1999/html">
    .container
    {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .container h1
    {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
    .new-version {
        margin-bottom: 30px;
    }
    
    .new-version ul {
        margin-bottom: 14px;
        padding-left: 20px;
    }
    
    .new-version ul li
    {
        margin-bottom: 5px;
    }
    
    .new-version ul li p
    {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    .new-version ul li ul
    {
        margin-left: 20px;
    }
    
    .new-version ul li ul li
    {
        margin-bottom: 0px;
    }
   
    .container ul li::marker
    {
        color: var(--tint-color);
    }
</style>

<div class="container">
    @* Algemeen *@
    @*     Nice email UI *@
    @*     Je krijgt nu een mail binnen als je Zermos wilt gebruiken, dus Zermos is up and running :) *@
    @* *@
    @* Somtoday - Huiswerk *@
    @*     De UI is nu beter, het bevat nu een duidelijker overzicht van alle huiswerk types (groen = zelf toegevoegd, oranje = toets, rood = grote toets, blauw = bijlage(n) aanwezig) *@
    @*      *@
    <div class="new-version" id="012">
        <h1>wat is nieuw in versie 0.1.2? - 18-07-2023</h1> <!--2023-07-18 16:34:48-->
        <ul>
            <li>
                <p>Algemeen</p>
                <ul>
                    <li>Nice email UI</li>
                    <li>Je krijgt nu een mail binnen als je Zermos wilt gebruiken, dus Zermos is up and running :)</li>
                </ul>
            </li>
            <li>
                <p>Somtoday - huiswerk</p>
                <ul>
                    <li>De UI is nu beter, het bevat nu een duidelijker overzicht van alle huiswerk types (groen = zelf toegevoegd, oranje = toets, rood = grote toets, blauw = bijlage(n) aanwezig)</li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div class="new-version" id="011">
        <h1>wat is nieuw in versie 0.1.1? - 15-07-2023</h1> <!--2023-07-15 19:58:03-->
        <ul>
            <li>
                <p>Algemeen</p>
                <ul>
                    <li>Visuele veranderingen zijn doorgevoerd</li>
                    <li>Automatisch css en js refreshen is toegevoegd, dit houdt de UI een beetje op orde</li>
                    <li>Errors worden nu in een klein berichtje getoond</li>
                    <li>'Hulp nodig?' knop word verborgen als het scherm the klein is (qua hoogte)</li>
                    <li>De 'nieuwste versie' popup staat nu wél over alle andere UI</li>
                </ul>
            </li>
            <li>
                <p>Account</p>
                <ul>
                    <li>jouw informatie (inlog tokens, email, etc.) is niet meer zichtbaar en word niet doorgegeven aan jouw, dit zorgt ervoor dat jouw informatie veiliger is.</li>
                </ul>
            </li>
            <li>
                <p>Zermelo - Rooster</p>
                <ul>
                    <li>rooster ondersteund nu ook activiteiten en examens</li>
                    <li>rooster word nu gerenderd gebaseerd op de start en eind tijd, niet op lesuur (lesuur 1, 2, 3, etc)</li>
                    <li>rooster UI is aangepast, het type les word nu met een kleur aangegeven (les = blauw, activiteit = groen, examen = oranje, uitval = rood)</li>
                    <li>rooster is nu sneller (omdat het niet meer door 5*9 lessen hoeft te loopen, maar door de algemene +/- 30 lessen)</li>
                </ul>
            </li>
            <li>
                <p>Infowijs - Kalender</p>
                <ul>
                    <li>Kalender word nu elke 12 uurs cyclus (0:00 - 11:59 / 12:00 - 23:59) opgeslagen en vervolgens word die versie gebruikt om de kalender te tonen, dit zorgt ervoor dat de laadtijd van de kalender een stuk korter is.</li>
                </ul>
            </li>
            <li>
                <p>School - Informatieboord</p>
                <ul>
                    <li>Informatieboord word nu elke 12 uurs cyclus opgeslagen en vervolgens word die versie gebruikt om het informatieboord te tonen, dit zorgt ervoor dat de laadtijd van het informatieboord een stuk korter is.</li>
                    <li>klikken op berichten voor extra details is verwijderd, de details worden nu direct getoond, dit zorgt ervoor dat de laadtijd van het informatieboord een stukje korter is.</li>
                </ul>
            </li>
            <li>
                <p>Somtoday - Cijfers</p>
                <ul>
                    <li>url's zijn nu logischer om mee te werken</li>
                    <li>De 'last-seen' feature geeft nu geen error meer, dus je kan je cijfers weer bekijken...</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="new-version" id="010">
        <h1>wat is nieuw in versie 0.1? - 10-07-2023</h1> <!--2023-07-10 11:35:20-->
        <ul>
            <li>Toegevoegde cijferberekeningen (wat moet ik halen, wat ga ik staan) aan somtoday cijfers.</li>
            <li>Routes bijgewerkt om met een hoofdletter te beginnen.</li>
            <li>Probleem met inloggen opgelost met retour-URL.</li>
            <li>SchoolKalender sneller gemaakt.</li>
            <li>Iconen van rooster en schoolkalender bijgewerkt.</li>
            <li>Probleem met somtoday-tokenvernieuwing opgelost.</li>
            <li>Aangepaste huiswerkfunctionaliteit toegevoegd.</li>
            <li>Nieuwe versiemelding toegevoegd.</li>
            <li>Scrollen in de zijbalk en mobiele lay-out gerepareerd.</li>
            <li>Nieuwe cijfermelding weergegeven op het cijfer zelf.</li>
            <li>Mobiele zijbalk verplaatst naar links, omdat dit gemakkelijker bereikbaar is.</li>
            <li>Gedetailleerde berichtpagina van de schoolinformatie verwijderd, omdat deze volledig nutteloos was :P</li>
            <li>'Wat is er nieuw'-pagina toegevoegd, dat is deze pagina dus</li>
        </ul>
    </div>
</div>