@model object

<link rel="stylesheet" href="/css/main.css">
<script src="js/Zermos-tour.js"></script>

<div id="start" class="start" onclick="startingAnimation()">
    Start!
</div>

<div id="zermos">
    ZERMOS
</div>

<script minimize>
@Context.Items["dmjs"]

function startingAnimation() {
    //add animate class to start
    document.getElementById("start").classList.add("animate");
    document.getElementById("zermos").classList.add("animate");
    setTimeout(() => {
        ReplacePage('/koppelingen');
    }, 3000);
}

Zermos.mainAfterLoad = () => {
    
    //if url contains ?notour, don't show tour
    if (window.location.href.includes('?notour')) return;
    
    let tour = new ZermosTour()

    if (window.innerWidth > 1200) {
        tour.queue([
            {
                el: '.top',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'right'
                },
                slot: 'Welkom bij Zermos, je krijgt nu een kleine tutorial waar je alles kan vinden, succes :)'
            },
            {
                el: '#rooster',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'right'
                },
                slot: 'Hier vind je je rooster.'
            }, {
                el: '#huiswerk',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'right'
                },
                slot: 'Hier vind je je huiswerk en je zelf-ingeplande huiswerk.'
            },
            {
                el: '#cijfers',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'right'
                },
                slot: 'Hier vind je je cijfers en cijferstatestieken.'
            },
            {
                el: '#informatiebord',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'right'
                },
                slot: 'Hier vind je het nieuws dat op het TV scherm bij de kluisjes staat.'
            },
        
            {
                el: '#printen',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'right'
                },
                slot: 'Door hier te klikken wordt je automatisch doorgelinkt naar de website om te printen, mits je ingelogd bent bij Microsoft, anders moet je dat nog even doen.'
            },
        
            {
                el: '#schoolnieuws',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'right'
                },
                slot: 'Hier staan de nieuwsberichten uit de Antonius app.'
            },
            {
                el: '#schoolkalender',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'right'
                },
                slot: 'Hier staat de kalender van de school. Deze pagina duurt soms wat langer om te laden.'
            },
            {
                el: '#account-1',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'left'
                },
                slot: 'Hier vind je je account, instellingen, afwezigheid én je koppelingen.'
            },
            {
                el: '.docs',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'right'
                },
                slot: 'Als je vragen hebt kun je hier vaak even kijken of er al een antwoord is.'
            },
            {
                el: '#start',
                options: {
                    layerEvent: tour.next.bind(tour),
                    slotPosition: 'bottom'
                },
                slot: 'Als je er klaar voor bent, klik dan hier om te starten met het koppelen van alle apps.'
            }
        ]).run();    
    }
    else 
    {
        if (document.querySelector('html').classList.contains('right'))
        {
            tour.queue([
                {
                    el: '.top',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'left'
                    },
                    slot: 'Welkom bij Zermos, je krijgt nu een kleine tutorial waar je alles kan vinden, succes :)'
                },
                {
                    el: '#rooster',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'left'
                    },
                    slot: 'Hier vind je je rooster.'
                }, {
                    el: '#huiswerk',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'left'
                    },
                    slot: 'Hier vind je je huiswerk en je zelf-ingeplande huiswerk.'
                },
                {
                    el: '#cijfers',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'left'
                    },
                    slot: 'Hier vind je je cijfers en cijferstatestieken.'
                },
                {
                    el: '#informatiebord',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'left'
                    },
                    slot: 'Hier vind je het nieuws dat op het TV scherm bij de kluisjes staat.'
                },
                {
                    el: '#printen',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'left'
                    },
                    slot: 'Door hier te klikken wordt je automatisch doorgelinkt naar de website om te printen, mits je ingelogd bent bij Microsoft, anders moet je dat nog even doen.'
                },
                {
                    el: '#schoolnieuws',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'left'
                    },
                    slot: 'Hier staan de nieuwsberichten uit de Antonius app.'
                },
                {
                    el: '#schoolkalender',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'left'
                    },
                    slot: 'Hier staat de kalender van de school. Deze pagina duurt soms wat langer om te laden.'
                },
                {
                    el: '#account-2',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'left'
                    },
                    slot: 'Hier vind je je account, instellingen, afwezigheid én je koppelingen.'
                },
                {
                    el: '#start',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'bottom'
                    },
                    slot: 'Als je er klaar voor bent, klik dan hier om te starten met het koppelen van alle apps.'
                }
            ]).run();
        }
        else
        {
            tour.queue([
                {
                    el: '.top',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'right'
                    },
                    slot: 'Welkom bij Zermos, je krijgt nu een kleine tutorial waar je alles kan vinden, succes :)'
                },
                {
                    el: '#rooster',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'right'
                    },
                    slot: 'Hier vind je je rooster.'
                }, {
                    el: '#huiswerk',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'right'
                    },
                    slot: 'Hier vind je je huiswerk en je zelf-ingeplande huiswerk.'
                },
                {
                    el: '#cijfers',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'right'
                    },
                    slot: 'Hier vind je je cijfers en cijferstatestieken.'
                },
                {
                    el: '#informatiebord',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'right'
                    },
                    slot: 'Hier vind je het nieuws dat op het TV scherm bij de kluisjes staat.'
                },
                {
                    el: '#printen',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'right'
                    },
                    slot: 'Door hier te klikken wordt je automatisch doorgelinkt naar de website om te printen, mits je ingelogd bent bij Microsoft, anders moet je dat nog even doen.'
                },
                {
                    el: '#schoolnieuws',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'right'
                    },
                    slot: 'Hier staan de nieuwsberichten uit de Antonius app.'
                },
                {
                    el: '#schoolkalender',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'right'
                    },
                    slot: 'Hier staat de kalender van de school. Deze pagina duurt soms wat langer om te laden.'
                },
                {
                    el: '#account-2',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'right'
                    },
                    slot: 'Hier vind je je account, instellingen, afwezigheid én je koppelingen.'
                },
                {
                    el: '#start',
                    options: {
                        layerEvent: tour.next.bind(tour),
                        slotPosition: 'bottom'
                    },
                    slot: 'Als je er klaar voor bent, klik dan hier om te starten met het koppelen van alle apps.'
                }
            ]).run();
        }
    }
}
</script>
