@using Zermos_Web.Models.zermelo
@using Newtonsoft.Json
@using Zermos_Web.Models.SomtodayGradesModel
@model Infrastructure.Entities.user


@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    Appointment zermelo_NextLesson = null;
    Zermos_Web.Models.SomtodayGradesModel.Item somtoday_LastGrade = null;

    if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.cached_zermelo_schedule))
        {
            var a = JsonConvert.DeserializeObject<ZermeloRoosterModel>(Model.cached_zermelo_schedule);
            zermelo_NextLesson = a.response.data[0].appointments?.Where(x => x.start.ToDateTime() > DateTime.Now).MinBy(x => x.start);
        }

        if (!string.IsNullOrEmpty(Model.cached_somtoday_grades))
        {
            var a = JsonConvert.DeserializeObject<SomtodayGradesModel>(Model.cached_somtoday_grades);
            somtoday_LastGrade = a.items[0];
        }
    }
}


<div class="main-container">

    <div class="row-1">

        <div class="child next-lesson">
            <div class="information">
                <h1 class="heading">Volgende les:</h1>
                <div class="lesson-info">
                    <p class="lesson-subject">@zermelo_NextLesson?.subjects[0]</p>
                    <p class="lesson-teacher">@zermelo_NextLesson?.teachers[0]</p>
                    <p class="lesson-location">@zermelo_NextLesson?.locations[0]</p>
                </div>
            </div>
            <div class="icon">
                <i class="fa-solid fa-calendar fa-fw card-icon active"></i>
            </div>
        </div>

        <div class="child last-grade">
            <div class="information">
                <h1 class="heading">Laatste cijfer</h1>
                <div class="grade-info">
                    <p class="grade-subject">@somtoday_LastGrade?.vak.naam:</p>
                    <p class="grade-number">@somtoday_LastGrade?.geldendResultaat</p>
                    <p class="grade-number">@(somtoday_LastGrade?.weging == 0 ? somtoday_LastGrade.examenWeging : 0)x</p>
                </div>
            </div>
            <div class="icon">
                <i class="fa-solid fa-line-chart fa-fw card-icon active"></i>
            </div>
        </div>

        <div class="child last-grade">
            <div class="information">
                <h1 class="heading">Laatste cijfer</h1>
                <div class="grade-info">
                    <p class="grade-subject">@somtoday_LastGrade?.vak.naam:</p>
                    <p class="grade-number">@somtoday_LastGrade?.geldendResultaat</p>
                    <p class="grade-number">@(somtoday_LastGrade?.weging == 0 ? somtoday_LastGrade.examenWeging : 0)x</p>
                </div>
            </div>
            <div class="icon">
                <i class="fa-solid fa-line-chart fa-fw card-icon active"></i>
            </div>
        </div>

    </div>

    <div class="row-2">
        <div class="child weather">
            <div class="header">
                <div class="information">
                    <h1 class="heading">Weer</h1>
                    <div class="weather-info">
                        <p class="weather-temp"></p>
                        <p class="weather-location">Gouda - John Mottstraat</p>
                    </div>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-line-chart fa-fw card-icon active"></i>
                </div>
            </div>
            <div class="weather-graph-underlay">
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
                <div class="amount"></div>
            </div>
            <div class="weather-graph">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line current"></div>
            </div>
        </div>
        <div class="child">

        </div>
    </div>
</div>

@section Scripts
{
    <script>   
    fetch('https://cdn-secure.buienalarm.nl/api/3.4/forecast.php?lat=52.011194&lon=4.726696&region=nl&unit=mm/u')
    .then(response => response.json())
    .then(data => { 
        //temp text
        document.querySelector(".weather-temp").innerText = (data["temp"] + "°C");
        
        
        
        //current time line
        let startUnix = data["start"];
        let endUnix = Number(data["start"]) + 7200;
        let currentUnix = Math.floor(Date.now() / 1000);
        let currentLine = document.querySelector(".current");
        let widthOfWorkingFieldInPixels = document.querySelector(".weather-graph").clientWidth;
        let widthOfASecondInPixels = widthOfWorkingFieldInPixels / 7200;
        let currentLinePosition = (currentUnix - startUnix) * widthOfASecondInPixels;         
        currentLine.style.left = (currentLinePosition + 12) + "px";
        
        //interval of 5 to recalculate the position of the current line
        setInterval(() => {
            currentLinePosition = (Math.floor(Date.now() / 1000) - startUnix) * widthOfASecondInPixels;
            currentLine.style.left = (currentLinePosition + 12) + "px";
        }, 5000);
        
        
        
        //array of 25 - 10 5-minute intervals
        let precipitation = data["precip"];
        //let precipitation = [0,0.2,0.2,0.3,0.5,0.1,0,0,0,0,0,0,4,5,3,1.2,0,1,0.5,0,0,0,0.2,0.1,0]; //test data
        let heighestPrecipitation = Math.max(...precipitation);
        let heightOfGraph = document.querySelector(".weather-graph").clientHeight;
        let heightOfAmmountInPixels = (heightOfGraph / heighestPrecipitation) * 0.8;      
        for (let i = 0; i < precipitation.length; i++) {
            document.getElementsByClassName("amount")[i].style.height = (precipitation[i] * heightOfAmmountInPixels) + "px";
        }
    });
    
    document.getElementsByClassName("weather-graph-underlay")[0].style.width = document.getElementsByClassName("weather-graph")[0].offsetWidth + "px";
    
    //onresize
    window.addEventListener("resize", () => {
        document.getElementsByClassName("weather-graph-underlay")[0].style.width = document.getElementsByClassName("weather-graph")[0].offsetWidth + "px";
    });
    
    </script>
}