@model string

<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <title>Zermos</title>
  <link rel="stylesheet" href="css/promo-page.css">
</head>
<body id="top">

<!--https://codewithsadee.github.io/pod-audio_sreaming-app-landing_page/-->

<header>
    <div class="container">
        <a href="#" class="logo">
            <img src="/images/icon192x192-curved.png" alt="Pod logo">
        </a>
        <nav class="navbar" >
            <ul class="navbar-list">
                <li>
                    <a href="#" class="navbar-link">Thuis</a>
                </li>
                <li>
                    <a href="#features" class="navbar-link">Functies</a>
                </li>
                <li>
                    <a href="#overview" class="navbar-link">Overzicht</a>
                </li>
                <li>
                    <a href="#" class="navbar-link">FAQ's</a>
                </li>
                <li>
                    <button onclick="window.location.href='/Login'">Aan de slag</button>
                </li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <article class="container">

        <section class="hero" id="home">

            <div class="hero-content">
                <h1 class="hero-title">Zermos:<br>Voor scholieren die het wel snappen</h1>

                <button>Bekijk Zermos</button>
            </div>

            <figure class="hero-banner"></figure>

        </section>

<!--        <section class="download">-->

<!--            <ul class="download-list">-->

<!--                <li>-->
<!--                    <a href="#" class="download-link">-->
<!--                        <div class="icon-inner"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M256 48C141.13 48 48 141.13 48 256s93.13 208 208 208 208-93.13 208-208S370.87 48 256 48z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M256 48c-58.07 0-112.67 93.13-112.67 208S197.93 464 256 464s112.67-93.13 112.67-208S314.07 48 256 48z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M117.33 117.33c38.24 27.15 86.38 43.34 138.67 43.34s100.43-16.19 138.67-43.34M394.67 394.67c-38.24-27.15-86.38-43.34-138.67-43.34s-100.43 16.19-138.67 43.34" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" d="M256 48v416M464 256H48"/></svg></div>-->
<!--                        <span>Gratis voor iedereen!</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--            </ul>-->

<!--        </section>-->

        <section class="features" id="features">
                <ul class="features-list">

                    <li class="features-item">
                        <h3 class="features-item-title">Hoofdmenu</h3>

                        <p class="features-item-text">
                            Een centrale plek voor al je school zaken, van rooster tot huiswerk
                        </p>
                    </li>

                    <li class="features-item">
                        <h3 class="h3 features-item-title">Rooster</h3>

                        <p class="features-item-text">
                            Dé plek waarop jij ziet wat de week je gaat brengen
                        </p>
                    </li>

                </ul>

                <figure class="feature-banner">
                    <img src="https://codewithsadee.github.io/pod-audio_sreaming-app-landing_page/assets/images/feature-banner-bg.png" alt="circle audio waveform" class="feature-banner-bg">

                    <img src="/images/feature-banner.png" alt="pod app" class="banner-img">
                </figure>

                <ul class="features-list">

                    <li class="features-item">
                        <h3 class="h3 features-item-title">Huiswerk</h3>

                        <p class="features-item-text">
                            Waar je je huiswerk kan vinden, kan filteren en kan toevoegen als een pro!
                        </p>
                    </li>

                    <li class="features-item">
                        <h3 class="h3 features-item-title">Cijfers</h3>

                        <p class="features-item-text">
                            Bekijk je cijfers en zie hoe je ervoor staat, en wat je nog moet doen om je cijfer te verbeteren
                        </p>
                    </li>

                </ul>

            <p class="and-more">
                En nog veel meer!
            </p>
        </section>

    </article>
</main>


</body>
</html>