html {
    font-family: Ubuntu, sans-serif;
}

body {
    background: #0B121B;
    margin: 0;
}

.site-nav {
    width: 280px;
    height: 100%;
    position: fixed;
}

.site-nav, .site-nav-header {
    width: 280px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    top: 0;
    position: absolute;
    font-weight: bold;
}

.site-nav ul {
    width: 280px;
    height: calc(100% - 80px);
    top: 80px;
    position: fixed;
}

.top-header {
    width: calc(100% - 280px);
    height: 80px;
    background: red;
    right: 0;
    top: 0;
    position: absolute;
}

.content {
    width: calc(100% - 280px);
    height: calc(100% - 80px);
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
    background: #e5e5e9;
    border-top-left-radius: 2rem;
}