@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<link rel="stylesheet" href="~/css/hoofdmenu.css">

<div class="main-container">

    <div class="row-1">

        <div class="child next-lesson">
            <div class="info">
                <h1 class="heading">Volgende les</h1>
                <div class="lesson-info">
                    <p class="lesson-subject">Wiskunde</p>
                    <p class="lesson-teacher">FJA</p>
                    <p class="lesson-location">A3</p>
                </div>
            </div>
            <div class="icon">
                <i class="fa-solid fa-calendar fa-fw card-icon active"></i>
            </div>
        </div>

        <div class="child last-grade">
            <div class="info">
                <h1 class="heading">Laatste cijfer</h1>
                <div class="grade-info">
                    <p class="grade-subject">Wiskunde:</p>
                    <p class="grade-number">8.5</p>
                    <p class="grade-change negative">-3%</p>
                </div>
            </div>
            <div class="icon">
                <i class="fa-solid fa-line-chart fa-fw card-icon active"></i>
            </div>
        </div>

        <div class="child homework">
            <div class="info">
                <h1 class="heading">Laatste cijfer</h1>
                <div class="grade-info">
                    <p class="grade-subject">Wiskunde:</p>
                    <p class="grade-number">8.5</p>
                    <p class="grade-change negative">-3%</p>
                </div>
            </div>
            <div class="icon">
                <i class="fa-solid fa-line-chart fa-fw card-icon active"></i>
            </div>
        </div>

    </div>

    <div class="row-2">
        <div class="child">

        </div>
        <div class="child">

        </div>
    </div>
</div>