/*ACCOUNT PAGE*/
.account-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
}

.account-item {
    background: var(--overlay-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

.account-item h1 {
    font-size: var(--font-size-heading);
}

.account-item p {
    font-size: var(--font-size);
}

.clickable {
    cursor: pointer;
}

.clickable h1 {
    text-decoration: underline;
}

.account-info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 4)), 1fr));
    grid-gap: var(--padding);
    padding-top: var(--padding);
}

.account-info-grid p {
    font-size: var(--font-size);
    padding: var(--padding-small);
    background: var(--overlay-overlay-color);
    border-radius: var(--border-radius-small);
}

.account-info-grid.hidden {
    height: 0;
    overflow: hidden;
    padding-top: 0;
}

.ontkoppelen {
    background: var(--deny-color);
}

.koppelen, .active {
    background: var(--confirm-color);
}

.koppel-knop {
    color: var(--white-color);
    border-radius: var(--border-radius-small);
    font-weight: 600;
    cursor: pointer;
    margin-top: var(--padding-small);
    border: transparent;
    width: 100%;
    height: var(--button-height);
    font-size: var(--font-size);
}

.koppel-knop.zeker {
    color: var(--text-color);
}

.overlay-account-info-grid {
    display: flex;
    justify-content: space-between;
}

.overlay-account-info-grid .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*SETTINGS PAGE*/
.settings-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
}

.setting-item {
    background: var(--overlay-color);
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

.setting-item h1 {
    font-size: var(--font-size-heading);
}

.setting-item p {
    font-size: var(--font-size);
    margin-bottom: var(--padding);
}

.setting-item .settings-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(200px, 100% / 4)), 1fr));
    grid-gap: var(--padding);
}

.setting-item .settings-options .setting-button {
    background: var(--background-color);
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
    color: var(--text-color);
    font-size: var(--font-size);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    border: transparent;
}

.setting-item .settings-options .setting-button:hover {
    background-color: var(--inactive-color);
}

.setting-item .settings-options .setting-button.selected {
    box-shadow: 0 0 var(--padding) var(--confirm-color);
}

/*
    <div class="setting-item">
        <h1>Lettergrootte</h1>
        <p>Verander de lettergrootte van Zermos</p>
        <div class="slider">
            <input type="range" min="100" max="200" value="@(Model.font_size < 100 ? 100 : Model.font_size)" class="slider" id="font-size-slider" oninput="UpdateFontSize(this.value)">
            <div class="slider-value">@(Model.font_size < 100 ? 100 : Model.font_size)%</div>
        </div>
    </div>
    */

.setting-item .slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-item .slider input {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: var(--background-color);
    /*outline: none*/
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.setting-item .slider input:hover {
    opacity: 1;
}

.setting-item .slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--confirm-color);
    cursor: pointer;
}

.setting-item .slider input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--confirm-color);
    cursor: pointer;
}

.setting-item .slider-value {
    font-size: var(--font-size);
    margin-top: var(--padding-small);
}

.setting-item .settings-options input[type="time"], .setting-item .settings-options input[type="number"] {
    width: 100%;
    padding: var(--padding-small);
    font-size: var(--font-size);
    border-radius: var(--border-radius-small);
    background: var(--background-color);
    border: transparent;
}

div#\35 _save {
    background: var(--confirm-color);
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
    color: var(--white-color);
    font-size: var(--font-size);
    cursor: pointer;
    text-align: center;
}

div#\35 _save:hover {
    box-shadow: unset;
}

div#\35 _save.selected {
    box-shadow: 0 0 var(--padding) var(--confirm-color) !important;
}