.main-container {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: auto;
}


/*ROW 1*/
.main-container .row-1 {
    width: 100%;
    height: 80px;
    margin-bottom: 16px;

    /*responsive grid either 4x1 2x2 or 1x4*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 4)), 1fr));
    grid-auto-flow: row;
    grid-gap: 16px;

    /*grid gap*/
    gap: 16px;
}

.main-container .row-1 .child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--overlay-color);
    border-radius: 1rem;
    min-width: 280px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.info .heading {
    height: 40%;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color-light);
}

.info {
    height: 100%;
    width: 66.66%;
    display: flex;
    flex-direction: column;
    padding: 12px 0 12px 12px;
}

/*grades card*/
.grade-info {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.grade-subject, .grade-number {
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.negative {
    color: #82D616 !important;
}

.positive {
    color: #E90606 !important;
}

.grade-change {
    height: 100%;
    font-weight: 700;
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/*lesson card*/
.lesson-subject, .lesson-teacher, .lesson-location {
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/*news card*/
.news-info {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news-title {
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.lesson-info {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 80px;
    width: 33.33%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 16px;
}

.icon i {
    object-fit: contain;
    font-size: 16px;
}

.card-icon {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px
}


/*ROW 2*/
.main-container .row-2 {
    width: 100%;
    height: 250px;
    margin-bottom: 16px;

    /*responsive grid either 4x1 2x2 or 1x4*/
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-flow: row;
    grid-gap: 16px;

    /*grid gap*/
    gap: 16px;
}

.main-container .row-2 .child:nth-child(1) {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--overlay-color);
    border-radius: 1rem;
    min-width: 280px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    grid-column: 1 / span 6;
}

.main-container .row-2 .child:nth-child(2) {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--overlay-color);
    border-radius: 1rem;
    min-width: 280px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    grid-column: 7 / span 11;
}
