.main-container {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: auto;
}


/*ROW 1*/
.main-container .row-1 {
    width: 100%;
    margin-bottom: 16px;

    /*responsive grid either 4x1 2x2 or 1x4*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 4)), 1fr));
    grid-auto-flow: row;
    grid-gap: 16px;

    /*grid gap*/
    gap: 16px;
}

.main-container .row-1 .child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--overlay-color);
    border-radius: 1rem;
    min-width: 280px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.information .heading {
    height: 40%;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.information {
    height: 100%;
    width: 66.66%;
    display: flex;
    flex-direction: column;
    padding: 12px 0 12px 12px;
}

/*grades card*/
.grade-info {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.grade-subject, .grade-number {
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.grade-weight {
    height: 100%;
    font-weight: 700;
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/*lesson card*/
.lesson-subject, .lesson-teacher, .lesson-location {
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/*news card*/
.news-info {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news-title {
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.lesson-info {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 80px;
    width: 33.33%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 16px;
}

.icon i {
    object-fit: contain;
    font-size: 16px;
}

.card-icon {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px
}





/*ROW 2*/
.main-container .row-2 {
    width: 100%;
    margin-bottom: 16px;

    /*responsive grid either 4x1 2x2 or 1x4*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 3)), 1fr));
    grid-auto-flow: row;
    grid-gap: 16px;

    /*grid gap*/
    gap: 16px;
}

.main-container .row-2 .child:nth-child(1) {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--overlay-color);
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.main-container .row-2 .child:nth-child(1) .header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.main-container .row-2 .child:nth-child(1) .weather-graph {
    width: calc(100% - 24px);
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 12px;
    border: 1px solid var(--text-color);
    border-radius: 7px;
}

.line {
    width: 1px;
    height: 100%;
    background: var(--text-color);;
}

.line + .current {
    position: absolute;
    width: 3px;
    height: 144px;
    background: var(--confirm-color);
    left: 12px;
    transition: all 0.5s ease;
}

.weather-graph-underlay {
    width: calc(100% - 24px) !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
    align-items: flex-end !important;
    border: 1px solid var(--text-color) !important;
    border-radius: 7px !important;
    flex-wrap: nowrap !important;
    position: absolute !important;
    height: 146px !important;
    margin: 92px 12px 12px !important;
}

.amount {
    width: 4%;
    background: var(--text-color);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.main-container .row-2 .child:nth-child(2) {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--overlay-color);
    border-radius: 1rem;
    min-width: 280px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
