.login {
    display: flex;
    grid-column-gap: var(--padding);
    grid-row-gap: var(--padding);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-explanation {
    border-radius: var(--border-radius);
    background: var(--overlay-color);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: start;
    align-items: start;
    color: var(--text-color);
    text-decoration: none;
    padding: var(--padding);
    flex-direction: column;
    width: 80%;
    height: auto;
    font-size: var(--font-size);
    font-weight: 600;
    cursor: default;
}

.login-explanation h1 {
    font-weight: 600;
    font-size: var(--font-size-heading);
    text-align: center;
    width: 100%;
}

.login-explanation p {
    margin-top: var(--padding);
    font-weight: 600;
    font-size: var(--font-size);
}

.login .form-control {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--padding-small);
    width: 80%;
    max-height: min-content;
    flex-direction: column;
    font-size: var(--font-size-heading);
    font-weight: 700;
}

.login .form-control.login-explanation:hover {
    cursor: pointer;
    background: var(--overlay-overlay-color);
}

.login .form-control svg rect {
    transition: transform 0.2s;
}
.login .form-control svg {
    /* width: 100%; */
    height: 20px;
    object-fit: scale-down;
    overflow: hidden;
    z-index: 2;
    transform: translate(0, 0);
}
.login .form-control.login-explanation svg {
    width: calc(var(--font-size) * 1.5 + 2px);
    height: calc(var(--font-size)* 1.5 + 2px);
}

.login .form-control.login-explanation:hover svg rect:nth-child(1) {
    transform: translate(6px, 0);
}
.login .form-control.login-explanation:hover svg rect:nth-child(2) {
    transform: translate(0, -6px);
}
.login .form-control.login-explanation:hover svg rect:nth-child(3) {
    transform: translate(0, 6px);
}
.login .form-control.login-explanation:hover svg rect:nth-child(4) {
    transform: translate(-6px, 0);
}



.login .form-control .input {
    height: var(--button-height);
    width: 100%;
    /*border: none;*/
    /*outline: none*/
    padding: 0 var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
    background: var(--overlay-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.login .form-control .submit {
    background: var(--accent-color);
    color: white;
    border-radius: var(--border-radius);
    font-weight: 600;
    cursor: pointer;
}

.img-thumbnail {
    align-self: center;
    margin: auto var(--padding);
    object-fit: scale-down;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 200px;
    z-index: 2;
}

.loading-icon {
    width: 100px;
    height: 100px;
    z-index: 1;
    margin: 64px auto;
}

.loading-icon img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.koppelingen-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 4)), 1fr));
    grid-gap: var(--padding);
    background: var(--background-color);
}

.koppelingen-container div {
    background: var(--overlay-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    position: relative;
}

.koppelingen-container div h1 {
    font-size: var(--font-size-heading);
    font-weight: 600;
    color: var(--text-color);
}

.koppelingen-container div p {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
}

.koppelingen-container div ul {
    padding: 0;
    margin: var(--padding) var(--padding) var(--padding) 20px;
}

.koppelingen-container div ul li {
    font-size: var(--font-size);
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: var(--padding-small);
}

.koppelingen-container div .methods {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: var(--padding-small);
    justify-content: center;
    align-items: center;
    margin-top: max(var(--padding), auto);
    padding: unset;
}

.koppelingen-container div .methods a {
    font-size: var(--font-size);
    text-decoration: none;
    width: 100%;
    height: var(--button-height);
    text-align: center;
    background: var(--accent-color);
    border-radius: var(--border-radius-small);
    justify-content: center;
    color: var(--white-color);
    font-weight: 700;
    padding: var(--padding-small);
    display: flex;
    flex-direction: column;
}

.login-explanation .code-child {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: var(--padding-small);
    justify-content: center;
    align-items: center;
    margin-top: max(var(--padding), auto);
    padding: unset;
}

.login-explanation .code-child .codeblock {
    background: var(--overlay-color);
    border-radius: var(--border-radius);
    padding-top: var(--padding);
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    gap: var(--padding);
}

.login-explanation .code-child .codeblock .codeblock-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--button-height);
}

.login-explanation .code-child .codeblock .codeblock-header h1 {
    font-size: var(--font-size-heading);
    font-weight: 600;
    color: var(--text-color);
}

.login-explanation .code-child .codeblock .codeblock-header .copy-button {
    font-size: var(--font-size);
    text-decoration: none;
    height: var(--button-height);
    text-align: center;
    background: var(--accent-color);
    border-radius: var(--border-radius-small);
    justify-content: center;
    color: var(--white-color);
    font-weight: 700;
    padding: var(--padding-small);
    display: flex;
    flex-direction: column;
    outline: transparent;
    /*border: none;*/
    width: 100px;
    align-items: center;
}

.login-explanation .code-child .codeblock .codeblock-header .copy-button:hover {
    cursor: pointer;
}

.login-explanation .code-child .codeblock .codeblock-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--padding-small);
    justify-content: center;
    align-items: center;
    margin-top: var(--padding);
    padding: var(--padding);
    background: var(--text-color);
    border-radius: var(--border-radius);
    height: var(--button-height);
}

.login-explanation .code-child .codeblock .codeblock-content code {
    font-size: var(--font-size);
    font-weight: 700;
    color: var(--white-color);
    font-family: monospace;
    width: 100%;
    word-wrap: break-word;
}

.login-explanation ol {
    padding: 0;
    margin: calc(2 * var(--padding)) var(--padding) var(--padding) calc(2 * var(--padding));
}

.login-explanation ol li {
    font-size: var(--font-size);
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: calc(0.5 * var(--padding));
}