.checkout, .login {
    display: flex;
    grid-column-gap: var(--padding);
    grid-row-gap: var(--padding);
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    height: 48px;
    background: var(--overlay-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-height: min-content;
}

.form-control input {
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    padding: 0 var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
}

.form-control input:first-child {
    width: 75%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    text-align: center;
}

.form-control input:nth-child(2) {
    width: 25%;
    background: var(--accent-color);
    color: white;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    font-weight: 600;
    cursor: pointer;
}

.form-control input:nth-child(3) {
    width: 25%;
    background: var(--accent-color);
    color: white;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    font-weight: 600;
    cursor: pointer;
}

.login-child {
    border-radius: var(--border-radius);
    background: var(--overlay-color);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: start;
    align-items: start;
    color: var(--text-color);
    text-decoration: none;
    padding: var(--padding);
    flex-direction: column;
    width: 80%;
    height: auto;
    font-size: var(--font-size);
    font-weight: 600;
    cursor: default;
    max-height: 80%;
}

.login-child h1{
    font-weight: 600;
    font-size: var(--font-size-heading);
    text-align: center;
    width: 100%;
}

.login-child p {

    margin-top: var(--padding);
    font-weight: 600;
    font-size: var(--font-size);
}

.check {
    width: 100%;
    height: 100%;
    background: var(--accent-color);
    border: none;
    border-radius: var(--border-radius);
    color: white;
    font-weight: 700;
}

.img-thumbnail {
    align-self: center;
    margin: auto var(--padding);
    object-fit: scale-down;
    overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 2;
}

.loading-icon {
    width: 100px;
    height: 100px;
    z-index: 1;
    top: calc(50% + 116px);
    left: 50%;
    margin: 64px auto;
}

.loading-icon img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.koppelingen-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 4)), 1fr));
    grid-gap: var(--padding);
    background: var(--background-color);
}

.koppelingen-container div {
    background: var(--overlay-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    position: relative;
}

.koppelingen-container div h1 {
    font-size: var(--font-size-heading);
    font-weight: 600;
    color: var(--text-color);
}

.koppelingen-container div p {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
}

.koppelingen-container div ul {
    padding: 0;
    margin: var(--padding) var(--padding) var(--padding) 20px;
}

.koppelingen-container div ul li {
    font-size: var(--font-size);
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: var(--padding-small);
}

.koppelingen-container div .methods {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: var(--padding-small);
    justify-content: center;
    align-items: center;
    margin-top: max(var(--padding), auto);
    padding: unset;
}

.koppelingen-container div .methods a {
    font-size: var(--font-size);
    text-decoration: none;
    width: 100%;
    height: var(--button-height);
    text-align: center;
    background: var(--accent-color);
    border-radius: var(--border-radius-small);
    justify-content: center;
    color: var(--white-color);
    font-weight: 700;
    padding: var(--padding-small);
    display: flex;
    flex-direction: column;
}