.modal-background {
    left: 266px;
    transition: 0.25s;
    width: calc(100% - 266px);
    height: 100%;
    position: fixed;
    overflow-y: auto;
    padding: 96px 8px var(--padding) var(--padding);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(var(--padding));
    -webkit-backdrop-filter: blur(var(--padding));
    opacity: 0;
}

.modal-background .modal {
    position: fixed;
    width: min(400px, calc(100% - var(--padding) * 2 - 64px));
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding);
    background: var(--overlay-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--text-color);
}

.modal-background .modal .modal-content h1 {
    font-size: var(--font-size-heading);
    margin-bottom: var(--padding);
}

.modal-background .modal .modal-content p {
    font-size: var(--font-size);
    margin-bottom: var(--padding);
}

#submitBtn {
    margin-bottom: 0;
}

/* SINGLE INPUT */
.modal-background .modal input[type="text"] {
    height: var(--button-height);
    width: 100%;
    border: none;
    outline: none;
    padding: 0 var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
    background: var(--overlay-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--padding);
}

/* Dropdown */
.modal-background .modal select {
    height: var(--button-height);
    width: 100%;
    border: none;
    outline: none;
    padding: 0 var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
    background: var(--overlay-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--padding);
}
.modal-background .modal select:hover {
    cursor: pointer;
}

.modal-background .modal select option {
    height: var(--button-height);
    width: 100%;
    border: none;
    outline: none;
    padding: 0 var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
    background: var(--overlay-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--padding);
}

/* MULTIPLE LINES */
.modal-background .modal textarea {
    height: 100px;
    min-height: 100px;
    max-height: 500px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: none;
    outline: none;
    padding: var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
    background: var(--overlay-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--padding);
}

/* DATE */
.modal-background .modal input[type="date"] {
    height: var(--button-height);
    width: 100%;
    border: none;
    outline: none;
    padding: 0 var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
    background: var(--overlay-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--padding);
}


/* BUTTON */
.modal-background .modal button {
    height: var(--button-height);
    width: 100%;
    border: none;
    outline: none;
    padding: 0 var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--white-color);
    background: var(--accent-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--padding);
}

/* SINGEL TOGGLE INPUT */
.modal-background .modal .toggle-parent {
    display: flex;
    gap: var(--padding);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: var(--button-height);
}

.modal-background .modal .toggle-parent input[type="checkbox"] {
    height: var(--button-height);
    width: var(--button-height);
    border-radius: var(--border-radius-small);
}

.modal-background .modal .toggle-parent label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--button-height);
    padding: 0 var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow);
}

/* TOGGLE GROUP INPUT */
.modal-background .modal .multi-toggle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(135px, 100% / 3)), 1fr));
    grid-gap: var(--padding);
    margin-bottom: var(--padding);
}

/* TEXT */
.modal-background .modal p {
    font-size: var(--font-size);
    margin-bottom: var(--padding);
}


@media only screen and (max-width: 40cm) {
    .modal-background {
        left: calc(180px + var(--padding));
        width: calc(100% - (180px + var(--padding)));
        padding: calc(96px - var(--padding) * 2) 8px var(--padding) var(--padding);
    }
}

@media only screen and (max-width: 1200px) {
    .modal-background {
        z-index: 100;
        left: 0 !important;
        width: calc(100% - 64px) !important;
        padding: var(--padding);
    }

    .left .modal-background {
        right: 0 !important;
        left: unset !important;
    }
}