/*INDEX*/
.table {
    width: 100%;
    background: var(--overlay-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    margin-bottom: var(--padding);
    border-collapse: collapse;
}

.table-header {
    background: var(--overlay-color);
    color: var(--text-color);
    font-size: var(--font-size-heading);
    font-weight: 700;
    text-align: left;
    border-bottom: 1px solid var(--text-color);
}

.table-header th {
    padding: var(--padding);
}

.table-row {
    background: var(--overlay-color);
    color: var(--text-color);
    font-size: var(--font-size);
    font-weight: 500;
    padding: var(--padding);
    border-bottom: 1px solid var(--overlay-color);
    transition: all ease 0.3s;
}

.actions-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--padding);
    align-items: center;
    background: var(--overlay-color);
    padding: var(--padding);
    padding-top: 0;
    padding-bottom: 0;
    border-radius: var(--border-radius);
    transition: all ease 0.3s;
    height: calc(4 * var(--padding));
    margin-bottom: var(--padding);
    overflow-y: hidden;
    position: relative;
}

.actions-row div {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--padding);
    justify-content: center;
    height: var(--button-height);
    color: var(--text-color);
    font-size: var(--font-size);
    background: var(--overlay-overlay-color);
    padding: var(--padding);
    border-radius: var(--border-radius-small);
}

.table-row.selected {
    background: var(--overlay-overlay-color);
}

.table-row:last-child td{
    border-bottom: unset;
}

.table-row td {
    padding: var(--padding);
    border-bottom: 1px solid var(--text-color);
}

.table-row td:first-child {
    border-bottom: unset;
}

.table-row:hover {
    background-color: var(--overlay-overlay-color);
}











.notitie-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 3)), 1fr));
    grid-gap: var(--padding);
    margin-bottom: var(--padding);
}

.notitie-card {
    background: var(--overlay-color);
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: var(--padding);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.notitie-card h1 {
    font-size: var(--font-size-heading);
    font-weight: 700;
    margin: 0;
    height: fit-content;
}

.notitie-card p {
    font-size: var(--font-size);
    font-weight: 700;
    margin: 0;
    height: fit-content;
}

.notitie-card .tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    gap: var(--padding);
}

.notitie-card .tags .tag {
    border-radius: var(--border-radius-small);
    cursor: pointer;
    color: var(--text-color);
    display: block;
    background-color: var(--background-color);
    border: none;
    outline: none;
    padding: var(--padding-small) var(--padding);
}




.notitie-card-editor-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
    margin-bottom: var(--padding);
}

.notitie-card-editor-container input {
    padding-left: var(--padding);
    height: calc(var(--padding) * 4);
    font-size: var(--font-size-heading);
    border: transparent;
}

.notitie-card-editor-content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
    margin-bottom: var(--padding);
}

.notitie-card.content .top {
    display: flex;
    justify-content: space-between;
}

.notitie-card.content .top .title {
    margin-right: auto;
    font-size: var(--font-size-heading);
    color: var(--text-color);
}

.notitie-card.content .top i {
    cursor: pointer;
    margin-left: var(--padding);
}

.notitie-card.content .top i:hover {
    color: var(--text-color);
}

.notitie-card.content .content-preview {
    font-size: var(--font-size);
    color: var(--text-color);
    word-wrap: break-word;
}


/*add button*/
.bottom-right-add-button {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--background-color);
    display: grid !important;
    place-items: center;
    margin: var(--padding);
    cursor: pointer;
    overflow: hidden;
    transition: all ease 0.3s;
}

.bottom-right-add-button a {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    justify-items: center;
}

.bottom-right-add-button a i {
    background: var(--accent-color);
    color: var(--white-color);
    align-content: center;
    justify-content: center;
    display: grid;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

.bottom-right-add-button a i:before {
    font-size: 1.5rem;
    color: var(--white-color);
    width: 100%;
    height: 100%;
    text-align: center;
}

/*noinspection CssInvalidPropertyValue*/
.popup {
    width: 400px;
    background: var(--background-color);
    position: fixed;
    bottom: var(--padding);
    right: var(--padding);
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    padding: 13px;
    display: flex;
    grid-gap: var(--padding);
    align-items: flex-start;
    transition: all ease 0.3s;
    overflow: hidden;
    text-wrap: nowrap;
}

.popup.hidden {
    width: 50px;
    height: 50px !important;
    border-radius: 25px;
}

#add-item .Naam {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
}

#add-item .Naam label {
    font-size: var(--font-size-heading);
    color: var(--text-color);
    font-weight: 700;
}

#add-item .Naam input {
    height: var(--button-height);
    width: 100%;
    border: none;
    outline: none;
    padding: 0 var(--padding);
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color);
    background: var(--overlay-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#add-item .submit {
    height: var(--button-height);
    width: 100%;
    border: none;
    outline: none;
    padding: 0 var(--padding);
    font-size: var(--font-size);
    box-shadow: var(--box-shadow);
    background: var(--accent-color);
    color: white;
    border-radius: var(--border-radius);
    font-weight: 600;
    cursor: pointer;
    margin-top: var(--padding);
    text-align: start;
}

.bottom-right-add-button {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--background-color);
    display: grid !important;
    place-items: center;
    margin: var(--padding);
    cursor: pointer;
    overflow: hidden;
}

.paragraph-editor-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
    margin-bottom: var(--padding);
}

.paragraph-editor-container input {
    padding-left: var(--padding);
    height: calc(var(--padding) * 4);
    font-size: var(--font-size-heading);
    border: transparent;
}

.paragraph-editor-container textarea {
    padding-left: var(--padding);
    font-size: var(--font-size-heading);
    border-radius: var(--border-radius);
    border: transparent;
    height: 100%;
}

/*<div class="top-lint">
    <div class="left-lint">
        
        <div class="back"></div>
        <div class="forward"></div>
        <div class="bold"></div>
        <div class="italic"></div>
        <div class="underline"></div>
        <div class="strikethrough"></div>
        <div class="align-left"></div>
        <div class="align-center"></div>
        <div class="align-right"></div>
        
        <input id="nameInput" type="text" value="@Model.Naam" />
    </div>
    
    <div class="right-lint">
        
    </div>
</div>*/

.top-lint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding);
    margin-bottom: var(--padding);
}

.top-lint .left-lint {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding);
}

.top-lint .left-lint .back {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
}

.top-lint .left-lint .forward {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
}

.top-lint .left-lint .bold {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
}

.top-lint .left-lint .italic {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
}

.top-lint .left-lint .underline {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
}

.top-lint .left-lint .strikethrough {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
}

.top-lint .left-lint .align-left {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
}

.top-lint .left-lint .align-center {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
}

.top-lint .left-lint .align-right {
    width: 20px;
    height: 20px;
    background-size: contain;
    cursor: pointer;
}

.top-lint .left-lint #nameInput {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 var(--padding);
    font-size: var(--font-size-heading);
    font-weight: 500;
    color: var(--text-color);
    background: var(--overlay-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.top-lint .right-lint {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--padding);
}

@media only screen and (max-width: 1200px) {
    .bottom-right-add-button {
        background: unset;
        position: fixed;
        right: 16px;
        height: 32px;
        width: 32px;
        display: grid;
        place-items: center;
        cursor: pointer;
        overflow: hidden;
        border-radius: unset;
        margin: unset;
    }

    .left .bottom-right-add-button {
        bottom: 16px;
        left: 16px;
    }

    .bottom-right-add-button .OpenSearchButton {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .bottom-right-add-button .OpenSearchButton i {
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius-small);
        transition: 0.3s;
        box-shadow: unset;
        background: var(--accent-color);
        color: var(--white-color);
        align-content: center;
        width: 100%;
        font-size: unset;
        height: 100%;
    }
    
    .bottom-right-add-button .OpenSearchButton i:before {
        color: var(--white-color);
        width: 16px;
        height: 16px;
        font-size: 16px;
        text-align: center;
        position: relative;
    }
}