.grades {
    display: grid;
    /*grid-template-columns: 3fr 1fr;
    */
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: var(--padding);
}

.grades-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 5)), 1fr));
    grid-auto-flow: row;
    grid-gap: var(--padding);
    color: var(--text-color);
    height: max-content;
    width: 100%;
}

/*.top-30 is 30% of the height from the top*/
.top-30 {
    position: relative;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: var(--padding);
}

/*first child of .top-30 can have a max width of 75%, the rest is moved to the next line*/
.top-30 h1 {
    max-width: 75%;
    flex-wrap: wrap;
}

.bottom-70 {
    position: relative;
    left: 0;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: var(--padding);
}

.grade-notification {
    position: absolute;
    top: -5px;
    right: -5px;
    height: 20px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background: var(--confirm-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--background-color);
}

.vak {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
    border-radius: var(--border-radius);
    background: var(--overlay-color);
    width: 100%;
    height: 244px;
    box-shadow: var(--box-shadow);
    font-size: var(--font-size);
}

.vak:hover {
    background: var(--overlay-overlay-color);
}

.vak:hover:has(.top-30 .sufficient) {
    box-shadow: 0 0 15px rgba(0, 184, 148, 0.75);
}

.vak:hover:has(.top-30 .insufficient) {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.75);
}

.vak a {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    padding: var(--padding);
}

.vak p {
    font-weight: 700;
}

.vak h1 {
    font-weight: 700;
    transition: opacity 0.3s;
    opacity: 1;
}

.sufficient {
    color: var(--confirm-color);
}

.insufficient {
    color: var(--deny-color);
}

.specific-grade {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: var(--padding);
;
    grid-row-gap: var(--padding);
;
    width: 100%;
    height: 100%;
}

.specific-grade .child {
    background: var(--overlay-color);
    grid-area: 2 / 2 / 10 / 6;
    font-size: var(--font-size);
    font-weight: 600;
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.specific-grade .child .top-30 {
    flex-direction: column;
    display: unset;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.background img {
    position: absolute;
    top: -1%;
    left: -1%;
    height: 102%;
    width: 102%;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center;
    background-image: url('/images/statisics line - 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    transition: opacity 0.3s;
    opacity: 0.1;
}

.vak:hover .background img {
    transition: opacity 0.3s;
    opacity: 1;
}

.vak:hover .fade-out h1 {
    transition: opacity 0.3s;
    opacity: 0;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 3)), 1fr));
    grid-auto-rows: minmax(244px, auto);
    grid-auto-flow: row;
    grid-gap: var(--padding);
    color: var(--text-color);
    height: max-content;
    width: 100%;
}

.stats-container .stats {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
    border-radius: var(--border-radius);
    background: var(--overlay-color);
    height: auto;
    width: 100%;
    transition: 0.3s ease-in-out;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

.stats-container .stats canvas {
    display: grid;
    /* display dead center*/
    margin: auto;
    width: 100%;
    max-height: 250px !important;
    height: auto !important;
}

.stats-container .stats .stats-vak {
    font-size: var(--font-size-heading);
    font-weight: 700;
}

.stats-container .stats .gemiddelde, .stats-container .stats .hoogste-cijfer, .stats-container .stats .laagste-cijfer {
    font-size: var(--font-size);
    font-weight: 600;
}

.stats-container .stats h1 {
    font-size: var(--font-size-heading);
    font-weight: 700;
}

.stats-container .stats input[type="text"] {
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color);
    background: none;
    font-size: var(--font-size);
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    border-radius: var(--border-radius-small);
}

.homework-container {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    grid-gap: var(--padding);
    color: var(--text-color);
}

.homework-container .homework-day-parent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding-small);
    border-radius: var(--border-radius);
    background: var(--overlay-color);
    width: 100%;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    font-size: var(--font-size);
}

.homework-container .homework-day-parent .homeworkItem {
    display: flex;
    grid-gap: var(--padding);
    border-radius: var(--border-radius-small);
    background: var(--inactive-color);
    height: 100%;
    width: 100%;
    padding: var(--padding);
}

.homeworkItem .homeworkItem-top{
    margin-right: auto;
}

.delete-icon {
    font-size: var(--font-size);
}

.homework-divider {
    width: 100%;
    transition: width 0.5s;
    background: var(--text-color);
    height: 2px;
    margin-top: 3px;
    margin-bottom: 7px;
}

.homework-content {
    width: 100%;
}

.homework-bijlagen {
    display: flex;
    gap: var(--padding-small);
    flex-direction: row;
    margin-top: var(--padding-small);
}

.homework-bijlage {
    display: flex;
    gap: var(--padding-small);
    flex-direction: row;
    align-items: center;
    background: var(--overlay-overlay-color);
    padding: 4px 8px;
    border-radius: var(--border-radius-small);
    color: blue;
    cursor: pointer;
}

.homework-content ul {
    padding-left: var(--padding);
    list-style-type: none;
}

.homework-day-parent h1 {
    font-size: var(--font-size-heading);
    font-weight: 700;
    margin-bottom: 8px;
}

.toets {
    border-left: 7px solid #FFA500;
}

.grote_toets {
    border-left: 7px solid #d63031;
}

.eigen {
    border-left: 7px solid #2CB543;
}

.bijlagen {
    border-right: 7px solid #007BFF;
}

.week, .dag {
    border-right: 7px solid #00d89e;
}

.blink {
    animation: blinker 1s linear;
    animation-iteration-count: 1
}

@keyframes blinker {
    0% {
        opacity: 100%;
        box-shadow: 0 0 0 var(--confirm-color);
    }

    40% {
        box-shadow: 0 0 25px var(--confirm-color);
    }

    60% {
        box-shadow: 0 0 25px var(--confirm-color);
    }

    100% {
        opacity: 100%;
        box-shadow: 0 0 0 var(--confirm-color);
    }

}

.homework-search {
    width: 210px;
    height: 48px;
    background: var(--overlay-color);
    position: fixed;
    top: 16px;
    left: 404px;
    border-radius: var(--border-radius);
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    color: var(--text-color);
    transition: width 0.3s, height 0.3s;
}

.homework-search i {
    margin-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.homework-search i::before {
    font-size: 21px;
}

.homework-search p {
    font-size: var(--font-size);
    font-weight: 700;
    color: var(--text-color);
}

.homework-search .search-text {
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.OpenSearchButton {
    padding-right: var(--padding);
    height: 100%;
    width: 36px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.homework-search-button-popup {
    width: 210px;
    z-index: -1;
    height: 48px;
    transition: width 0.3s, height 0.3s;
    padding-top: 48px;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    font-size: var(--font-size);
}

.option {
    height: 100%;
    width: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding-small);
    gap: var(--padding-small);
    display: flex;
    flex-direction: column;
}

.option .option-toggle {
    text-align: center;
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
}

.selected {
    background: var(--confirm-color) !important;
    color: var(--white-color) !important;
}

.option .option-toggle, .unselected {
    background: var(--background-color);
    color: var(--text-color);
}

.bottom-right-add-button {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--background-color);
    display: grid !important;
    place-items: center;
    margin: var(--padding);
    cursor: pointer;
    overflow: hidden;
}

.bottom-right-add-button a {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    justify-items: center;
}

.bottom-right-add-button a i {
    background: var(--accent-color);
    color: var(--white-color);
    align-content: center;
    justify-content: center;
    display: grid;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

.bottom-right-add-button a i:before {
    font-size: 1.5rem;
    color: var(--white-color);
    width: 100%;
    height: 100%;
    text-align: center;
}

.add-homework {
    border-radius: var(--border-radius);
    overflow: hidden;
    background: var(--overlay-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 6fr;
    grid-gap: var(--padding);
    padding: inherit;
    margin: auto;
}

.add-homework .date {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px auto;
}

.add-homework .date label {
    font-size: var(--font-size-heading);
    font-weight: 700;
}

.add-homework .date input[type="date"] {
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color);
    background: none;
    font-size: var(--font-size-heading);
    font-weight: 700;
    color: var(--text-color);
    text-align: start;
    border-radius: var(--border-radius-small);
    padding-left: var(--padding);
}

.add-homework .title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px auto;
}

.add-homework .title label {
    font-size: var(--font-size-heading);
    font-weight: 700;
}

.add-homework .title input[type="text"] {
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color);
    background: none;
    font-size: var(--font-size-heading);
    font-weight: 700;
    color: var(--text-color);
    text-align: start;
    border-radius: var(--border-radius-small);
    padding-left: var(--padding);
}

.add-homework .description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px auto;
}

.add-homework .description label {
    font-size: var(--font-size-heading);
    font-weight: 700;
}

.add-homework .description textarea {
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color);
    background: none;
    font-size: var(--font-size-heading);
    font-weight: 700;
    color: var(--text-color);
    text-align: start;
    border-radius: var(--border-radius-small);
    resize: none;
    padding-left: var(--padding);
}

.add-homework .submit {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
    background: var(--accent-color);
    border-radius: var(--border-radius-small);
    padding: var(--padding);
    border: transparent;
    color: var(--white-color);
    font-weight: 700;
    height: var(--button-height);
}

.absentie-container {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    grid-gap: var(--padding);
    color: var(--text-color);
}

.absentie {
    border-radius: var(--border-radius);
    padding: var(--padding);
    background: var(--overlay-color);
    box-shadow: var(--box-shadow);
}

.absentie h1 {
    font-size: var(--font-size-heading);
    font-weight: 600;
    margin-bottom: var(--padding);
}

.absentie p {
    font-size: var(--font-size);
    font-weight: 600;
    margin-bottom: var(--padding);
}

@media only screen and (max-width: 700px) {
    .vak {
        height: 75px;
    }

    .vak:first-child {
        height: 75px;
    }

    .background img {
        display: none;
    }

    .vak:hover .fade-out h1 {
        opacity: 1;
    }

}

@media only screen and (max-width: 40cm) {
    .homework-search {
        left: calc(180px + var(--padding) * 4 + 96px);
        top: var(--padding);
    }
}

@media only screen and (max-width: 1200px) {
    .bottom-right-add-button {
        background: unset;
        position: fixed;
        bottom: 16px;
        right: 16px;
        height: 32px;
        width: 32px;
        display: grid;
        place-items: center;
        cursor: pointer;
        overflow: hidden;
        border-radius: unset;
        margin: unset;
    }
    
    .left .bottom-right-add-button {
        bottom: 16px;
        left: 16px;
    }

    .bottom-right-add-button a i {
        display: grid;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius-small);
        transition: 0.3s;
        box-shadow: unset;
        background: var(--accent-color);
        color: var(--white-color);
        align-content: center;
        font-size: unset;
    }

    .bottom-right-add-button a i:before, .OpenSearchButton a i:before {
        color: var(--white-color);
        width: 16px;
        height: 16px;
        font-size: 16px;
        text-align: center;
        position: relative;
    }

    .top-30, .bottom-70 {
        height: auto;
    }

    .homework-search {
        left: unset;
        top: unset;
        right: 16px;
        bottom: calc(16px + 32px + 16px);
        background: var(--accent-color);
        color: var(--white-color);
        height: 32px;
        width: 32px;
    }
    
    .homework-search .search-text {
        display: none;
    }
    
    .homework-search .OpenSearchButton {
        padding-right: unset;
        width: 32px;
        transform: rotateZ(90deg);
    }
    
    .homework-search .OpenSearchButton i {
        margin-left: unset;
    }

    .homework-search-button-popup {
        display: none;
        background: var(--overlay-color);
        padding-top: var(--padding);
    }
}

