/*HOMEWORK*/
.homework-container {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    grid-gap: var(--padding);
    color: var(--text-color);
}

.homework-container .homework-day-parent {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding-small);
    border-radius: var(--border-radius);
    background: var(--overlay-color);
    width: 100%;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    font-size: var(--font-size);
}

.homework-container .homework-day-parent .homeworkItem {
    display: flex;
    grid-gap: var(--padding);
    border-radius: var(--border-radius-small);
    background: var(--inactive-color);
    height: 100%;
    width: 100%;
    padding: var(--padding);
}

.homeworkItem .homeworkItem-top{
    margin-right: auto;
}

.delete-icon {
    font-size: var(--font-size);
}

.homework-divider {
    width: 100%;
    transition: width 0.5s;
    background: var(--text-color);
    height: 2px;
    margin-top: 3px;
    margin-bottom: 7px;
}

.homework-content {
    width: 100%;
}

.homework-bijlagen {
    display: flex;
    gap: var(--padding-small);
    flex-direction: row;
    margin-top: var(--padding-small);
}

.homework-bijlage {
    display: flex;
    gap: var(--padding-small);
    flex-direction: row;
    align-items: center;
    background: var(--overlay-overlay-color);
    padding: 4px 8px;
    border-radius: var(--border-radius-small);
    color: blue;
    cursor: pointer;
}

.homework-content ul {
    padding-left: var(--padding);
    list-style-type: none;
}

.homework-day-parent h1 {
    font-size: var(--font-size-heading);
    font-weight: 700;
    margin-bottom: 8px;
}

.toets {
    border-left: 7px solid #FFA500;
}

.grote_toets {
    border-left: 7px solid #d63031;
}

.eigen {
    border-left: 7px solid #2CB543;
}

.bijlagen {
    border-right: 7px solid #007BFF;
}

.week, .dag {
    border-right: 7px solid #00d89e;
}

.blink {
    animation: blinker 1s linear;
    animation-iteration-count: 1
}

@keyframes blinker {
    0% {
        opacity: 100%;
        box-shadow: 0 0 0 var(--confirm-color);
    }

    40% {
        box-shadow: 0 0 25px var(--confirm-color);
    }

    60% {
        box-shadow: 0 0 25px var(--confirm-color);
    }

    100% {
        opacity: 100%;
        box-shadow: 0 0 0 var(--confirm-color);
    }

}


/*CIJFERS*/
.grades-container {
    display: flex;
    height: auto;
    gap: var(--padding);
    margin-bottom: calc(2 * var(--button-height));
}

.panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}


.grade-controls {
    z-index: 100;
    height: 40px;
    margin-bottom: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.grade-controls div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    font-size: var(--font-size-heading);
    font-weight: 700;
}

#underline {
    position: absolute;
    height: 3px;
    background: var(--accent-color);
    bottom: 0;
    transition: all 0.3s ease;
    padding: unset;
    cursor: unset;
    margin: 0;
}

.grades-title {
    background: var(--overlay-color);
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    border-radius: var(--border-radius);
    font-size: var(--font-size-heading);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grades-period {
    display: flex;
    gap: var(--padding);
    margin-top: var(--padding);
}

.grades-period h1 {
    font-size: var(--font-size-heading);
    font-weight: 700;
}

.icon-container {
    margin-left: auto;
    display: flex;
    gap: var(--padding);
    font-size: calc(1.4 *var(--font-size-heading));
}

.grade-table {
    width: 100%;
    height: auto;
    color: var(--text-color);
    background: var(--overlay-color);
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    border-radius: var(--border-radius);
    position: relative;
}

.grade-table-header {
    width: 100%;
    color: var(--text-color);
}

.grade-table-header td {
    font-size: var(--font-size);
    font-weight: 700;
}

.grade-table-header td[rowspan="2"] {width: 40px;height: 40px;font-size: calc(1.5 * var(--font-size-heading));text-align: center;}

.grade-table-header td:nth-child(3), .grade-table-header td:nth-child(4), .grade-table-header td:nth-child(5) {
    width: 10%;
    text-align: end;
}

i.fa-solid.fa-graduation-cap, i.fa-solid.fa-layer-group {
    position: relative;
    width: 0;
    height: 0;
    right: 0;
    top: calc(-2* var(--padding));
    font-size: var(--font-size-heading);
    color: var(--text-color);
    cursor: pointer;
    transform: rotate(19deg);
}

.fa-graduation-cap:before, .fa-layer-group:before {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.fa-graduation-cap.animate, .fa-layer-group.animate {
    animation: happy-cappy 1s infinite;
}

@keyframes happy-cappy {
    0% {
        transform: scale(1) rotate(19deg);
    }

    50% {
        transform: scale(1.5) rotate(29deg);
    }

    100% {
        transform: scale(1) rotate(19deg);
    }
}

.sufficient {
    color: var(--confirm-color);
}

.insufficient {
    color: var(--deny-color);
}

.grade-notification {
    position: absolute;
    top: calc(-0.5* var(--padding));
    left: calc(-0.5* var(--padding));
    height: var(--padding);
    width: var(--padding);
    border-radius: var(--border-radius);
    background: var(--confirm-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--background-color);
}

/*CIJFER STATISTIEKEN*/
.stats-vak {
    font-size: var(--font-size-heading);
    font-weight: 700;
}

.arc {
    --a: 0deg; /* control the progression */
    width: 100%;
    aspect-ratio: 1;
    padding: 40px; /* the border thickness */
    box-sizing: border-box;
    border-radius: 50%;
    background: var(--confirm-color);
    mask: linear-gradient(#0000 0 0) content-box intersect, conic-gradient(#000 var(--a), #0000 0);
    position: absolute;
    z-index: 10;
}

.arc.back {
    --a: 360deg;
    background: var(--deny-color);
    z-index: 0;
    /*width: calc(100% - 20px);*/
    /*padding: 20px;*/
    /*top: 10px;*/
    /*left: 10px;*/
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding);
    color: var(--text-color);
    flex-direction: column;
}

.stack2 {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    border-radius: var(--border-radius);
    justify-content: space-between;
    height: initial;
}

.stats {
    background: var(--overlay-color);
    padding: var(--padding);
    border-radius: var(--border-radius-small);
    color: var(--text-color);
    width: 100%;
    box-shadow: var(--box-shadow);
}

.stats h1 {
    font-size: var(--font-size-heading);
    margin-bottom: var(--padding);
}

.stats p {
    margin: 5px 0;
}

.horizontal-split {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.horizontal-split h1 {
    font-size: var(--font-size-heading);
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chart {
    position: relative;
    width: 200px;
    height: 200px;
}

#B {
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: var(--padding);
    margin-top: calc(4 * var(--padding));
    justify-content: space-evenly;
}

.grade {
    width: 20%;
    background: var(--confirm-color);
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-heading);
    font-weight: 700;
    color: var(--white-color);
    border-radius: var(--border-radius-small);
}

input[type="number"] {
    width: 100%;
    padding: var(--padding);
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius-small);
    box-sizing: border-box;
    font-size: var(--font-size);
    margin: var(--padding) 0;
}

@media (max-width: 800px) {
    .stack2 {
        flex-direction: column;
    }

    .chart#A {
        width: 100px;
        height: 100px;
    }
}

/* Line chart */
#C {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 1fr 20px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.line {
    position: relative;
    width: 100%;
    height: calc(100% - 10%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    top: 5%;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--confirm-color);
    position: relative;
    transform: translateY(5px);
}

#C .vertical-line {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column-reverse;
}

#C .horizontal-line {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
}

#C .vertical-line .grade,
#C .horizontal-line .grade {
    background: none;
    color: var(--text-color);
}

#C .line {
    grid-area: 1 / 2 / 2 / 3;
    justify-content: space-around;
}

.read-line {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.read-line-child {
    background: var(--text-color);
    height: 1px;
    opacity: 0.2;
}

/*LEERMIDDELEN*/

.leermiddelen-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% / 1, max(355px, 100% / 3)), 1fr));
    grid-gap: var(--padding);
}

.leermiddel {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding);
    border-radius: var(--border-radius);
    background: var(--overlay-color);
    width: 100%;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    font-size: var(--font-size);
    cursor: pointer;
    position: relative;
}

.leermiddel i {
    font-size: calc(var(--font-size)* 1.5);
    color: var(--text-color);
    position: absolute;
    right: 0;
    top: 0;
    padding: var(--padding);
}

.leermiddel h1 {
    font-size: var(--font-size-heading);
    font-weight: 700;
}

.leermiddel p {
    font-size: var(--font-size);
    font-weight: 600;
}

.leermiddel:hover {
    background: var(--overlay-overlay-color);
}

.add-leermiddel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: var(--accent-color);
    padding: calc(var(--padding) * 2);
    color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    gap: var(--padding);
}

.add-leermiddel i {
    font-size: var(--font-size-heading);
}

.leermiddel:hover i {
    color: var(--background-color);
}


.add-leermiddel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: var(--accent-color);
    padding: calc(var(--padding) * 2);
    color: var(--white-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    gap: var(--padding);
}

.add-leermiddel i {
    font-size: var(--font-size-heading);
}