/* Color settings*/
:root, .light {
    /* light mode */
    --background-color: #f8f9fa;
    --overlay-color: #ffffff;
    --overlay-overlay-color: #f3f6f4;
    --text-color: #344767;
    --accent-color: linear-gradient(335deg, rgb(121, 40, 202), rgb(255, 0, 128));
    --active-color: linear-gradient(335deg, rgb(121, 40, 202), rgb(255, 0, 128));
    --dark-gradient: linear-gradient(335deg, rgba(20, 23, 39, 0.8), rgba(58, 65, 111, 0.6));
    --inactive-color: #e8e8e8;
    --tint-color: #01befe;
    --confirm-color: #00b894;
    --deny-color: #d63031;
    --sure-color: #000000;
    --white-color: #ffffff;
    --overlay-hover-color: #f3f6f4;

    --border-radius: 14px;
    --border-radius-small: 7px;
    
    --font-size-heading: 16px;
    --font-size-heading-small: 12px;
    
    --font-size: 14px;
    --font-size-small: 10px;
    
    --padding: 14px;
    --padding-small: 7px;
    
    --button-height: 32px;
    --button-height-small: 24px;
    
    --box-shadow: 0 0 var(--padding) rgba(0, 0, 0, 0.1);
}

.dark {
    --background-color: #1a1a1a;
    --overlay-color: #2d2d2d;
    --text-color: #b9b9b9;
    --accent-color: linear-gradient(335deg, rgb(121, 40, 202), rgb(255, 0, 128));
    --active-color: linear-gradient(335deg, rgb(121, 40, 202), rgb(255, 0, 128));
    --dark-gradient: linear-gradient(335deg, rgba(20, 23, 39, 0.8), rgba(58, 65, 111, 0.6));
    --inactive-color: #555555;
    --tint-color: #01befe;
    --confirm-color: #00b894;
    --deny-color: #d63031;
    --sure-color: #ffffff;
    --white-color: #ffffff;
}

.blue {
    --background-color: #f8f9fa;
    --overlay-color: #ffffff;
    --text-color: #344767;
    --text-color-light: #6c757d;
    --accent-color: linear-gradient(335deg, #6ba9ff, #ccf2ff);
    --active-color: linear-gradient(335deg, #6ba9ff, #ccf2ff);
    --dark-gradient: linear-gradient(335deg, rgba(20, 23, 39, 0.8), rgba(58, 65, 111, 0.6));
    --inactive-color: #e8e8e8;
    --tint-color: #86c7ff;
    --confirm-color: #86c7ff;
    --deny-color: #d63031;
    --sure-color: #000000;
    --white-color: #ffffff;
}

.red {
    --background-color: #1a1a1a;
    --overlay-color: #2d2d2d;
    --text-color: #b9b9b9;
    --accent-color: linear-gradient(335deg, rgb(255, 0, 0), rgb(130 26 26));
    --active-color: linear-gradient(335deg, rgb(255, 0, 0), rgb(130 26 26));
    --dark-gradient: linear-gradient(335deg, rgba(20, 23, 39, 0.8), rgba(58, 65, 111, 0.6));
    --inactive-color: #555555;
    --tint-color: #01befe;
    --confirm-color: #00b894;
    --deny-color: #d63031;
    --sure-color: #ffffff;
    --white-color: #ffffff;
}

.pink {
    --background-color: #ffebf2;
    --overlay-color: #ffffff;
    --text-color: #344767;
    --text-color-light: #6c757d;
    --accent-color: linear-gradient(335deg, #ff6ba9, #ffccf2);
    --active-color: linear-gradient(335deg, #ff6ba9, #ffccf2);
    --dark-gradient: linear-gradient(335deg, rgba(20, 23, 39, 0.8), rgba(58, 65, 111, 0.6));
    --inactive-color: #e8e8e8;
    --tint-color: #ff86c7;
    --confirm-color: #ff86c7;
    --deny-color: #d63031;
    --sure-color: #000000;
    --white-color: #ffffff;
}


/* begin setting default values */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: var(--border-radius);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body, div, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

/* End setting default values */
.sidebar {
    display: flex;
    background: var(--overlay-color);
    width: 250px;
    height: calc(100vh - 32px);
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: center;
    left: 0;
    border-radius: var(--border-radius);
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.divider {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(142, 142, 142, 0.25), rgba(0, 0, 0, 0));
    margin-bottom: 16px;
}

.sidebar .docs {
    position: absolute;
    bottom: 16px;
    width: calc(100% - 32px);
    height: 160px;
    border-radius: var(--border-radius-small);
}

.docs .docs-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
    background-image: linear-gradient(rgba(58, 65, 111, 0.5), rgba(58, 65, 111, 0.5)), url('../images/white-curved.jpeg');
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    padding: 80px;
}

.docs:hover .docs-image {
    background-size: 100%;
}

.sidebar .docs h4 {
    position: absolute;
    top: 16px;
    left: 16px;
    color: var(--white-color);
    font-weight: 600;
    font-size: var(--font-size-heading);
}

.sidebar .docs p {
    position: absolute;
    top: 48px;
    left: 16px;
    color: var(--white-color);
    font-weight: 600;
    font-size: var(--font-size);
}

.sidebar .docs a {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: calc(100% - 32px);
    height: 40px;
    border-radius: var(--border-radius-small);
    background: var(--overlay-color);
    border: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: var(--font-size);
    cursor: pointer;
    align-content: center;
    justify-content: center;
    display: grid;
}

.sidebar .docs button:hover {
    background: var(--background-color);
}

.sidebar .top {
    height: 80px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    font-weight: 600;
    font-size: var(--font-size);
    color: var(--text-color);
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.sidebar .top .svgText {
    fill: var(--text-color);
    font-size: 42px;
    dominant-baseline: middle;
    text-anchor: middle;
    text-shadow: none;
}

/*Begin of the animation*/
.sidebar .top .svgText {
    position: relative;
    display: inline-block;
    text-shadow: none;
    transition: transform 0.3s;
    transform: translateY(10px);
    cursor: default;
}

.sidebar .top .svgText.animating {
    transform: translateY(-10px);
}

/*End of the animation*/
.sidebar .bottom {
    height: auto;
    top: 96px;
    bottom: 176px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    font-weight: 600;
    overflow-y: auto;
    flex-direction: column;
}

.spacer {
    height: 100%;
    width: 100%;
}

.sidebar .bottom ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.menu-item {
    padding: 10px 16px 10px 32px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;
}

.menu-item:hover {
    background: var(--background-color);
    color: var(--white-color);;
    transition: 0.3s;
}

.sidebar .bottom ul li {
    height: 49px;
    width: auto;
}

.sidebar .bottom ul li p {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    transition: 0.3s;
}

.menu-icons {
    background: var(--inactive-color);
    color: var(--text-color);
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-small);
    transition: 0.3s;
    box-shadow: unset;
    width: 32px !important;
    height: 32px;
    margin-right: 16px;
}

.menu-icons::before {
    position: relative;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
}

.active {
    background: var(--accent-color);
    color: var(--white-color) !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.bottom .Heading {
    font-size: var(--font-size);
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 4px;
    color: var(--text-color);
}

main.main {
    left: 266px;
    transition: 0.25s;
    width: calc(100% - 266px);
    height: 100%;
    position: fixed;
    overflow-y: auto;
    padding: 96px 8px 16px 16px;
}

.top-bar {
    position: absolute;
    width: 100%;
    height: 96px;
    padding-right: var(--padding);
    padding-left: 282px;
    overflow: hidden;
    top: 0;
    padding-top: var(--padding);
    z-index: 10;
    background-image: linear-gradient(to top, rgba(255,0,0,0), var(--background-color) 25%);
}

.top-right-profile-picture {
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 100;
}

.top-right-profile-picture a {
    height: 100%;
    width: 100%;
}

.top-right-profile-picture i {
    height: 100%;
    width: 100% !important;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: var(--border-radius);
    transition: 0.3s;
    cursor: pointer;
}

.top-right-profile-picture i:before {
    font-size: 21px;
    color: var(--text-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.backbutton,
.forewardbutton {
    position: absolute;
    top: 16px;
    left: 282px;
    width: 48px;
    height: 48px;
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--overlay-color);
    transition: 0.3s;
}

.forewardbutton {
    left: 346px;
}

.backbutton i,
.forewardbutton i {
    color: var(--text-color);
    font-size: 21px;
}

main.main::-webkit-scrollbar {
    width: 8px;
}

main.main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--overlay-color);
    border-radius: var(--border-radius-small);
    margin-block-start: 96px;
    margin-block-end: 16px;
}

.version {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 250px;
    height: auto;
    padding: var(--padding);
    background: var(--confirm-color);
    border-radius: var(--border-radius);
    z-index: 1000;
}

.notifications {
    width: 332px;
    padding-bottom: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    pointer-events: none;
    z-index: 1000;
    background: rgb(255 255 255);
    border-top-left-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.notification:first-child {
    margin-top: var(--padding);
}

.notification {
    width: auto;
    height: auto;
    padding: var(--padding);
    background: var(--inactive-color);
    border-radius: var(--border-radius-small);
    margin: 0 var(--padding) var(--padding);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    pointer-events: all;
    transform-origin: bottom;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    box-sizing: var(--box-shadow);
}

.notification.animate {
    transform: scaleY(1);
    opacity: 1;
}

@keyframes notification {
    0% {
        transform: rotate3d(1, 0, 0, -90deg) scaleY(0)
    }
    100% {
        transform: rotate3d(1, 0, 0, 0deg) scaleY(1)
    }
}

.notification h1 {
    font-size: var(--font-size-heading);
    color: var(--text-color);
}

.notification p {
    font-size: var(--font-size);
    color: var(--text-color);
}

.error {
    border-left: 7px solid var(--deny-color);
}

.warning {
    border-left: 7px solid #FFC107;
}

.info {
    border-left: 7px solid #007BFF;
}

#content {
    opacity: 1;
    left: 266px;
    transition: 0.25s;
    width: calc(100% - 266px);
    height: 100%;
    position: fixed;
    overflow-y: auto;
    padding: 96px 8px 16px 16px;
    background: var(--background-color);
    z-index: 1;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-dots {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    animation: loading-dots 1.5s infinite ease-in-out;
    transform: scale(0);
}

.loading-dots:nth-child(2) {
    animation-delay: .2s;
}

.loading-dots:nth-child(3) {
    animation-delay: .4s;
}

@keyframes loading-dots {
     0% {
         transform: scale(0);
     }
     50% {
         transform: scale(1);
     }
     100% {
         transform: scale(0);
     }
 }

.loader-text {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.loader-text .loading-dots {
    margin: 0 2px;
}

.loading-dots-container {
    margin-top: 16px;
}

@keyframes fade-in {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }

.user-select-none {
    -webkit-user-select: none;
    user-select: none;
}

.you-look-new {
    opacity: 1;
    left: 266px;
    transition: 0.25s;
    width: calc(100% - 266px);
    height: 100%;
    position: fixed;
    overflow-y: auto;
    padding: 96px 8px 16px 16px;
    background: var(--background-color);
    z-index: 1;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.you-look-new a {
    background: var(--active-color);
    color: var(--white-color);
    border-radius: var(--border-radius);
    font-weight: 600;
}

.you-look-new-text {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

/*If screen width is 700px*/
@media only screen and (max-width: 1000px) {

    body {
        --font-size-heading: var(--font-size-heading-small);
        --font-size: var(--font-size-small);
        --padding: var(--padding-small);
        --border-radius: var(--border-radius-small);
        --button-height: var(--button-height-small);
    }
}

@media only screen and (max-width: 1200px) {

    main.main {
        z-index: 100;
        left: 0 !important;
        width: calc(100% - 64px) !important;
        padding: var(--padding); !important;
    }
    
    #content {
        z-index: 101;
        left: 0 !important;
        width: calc(100% - 64px) !important;
        padding: var(--padding); !important;
    }
    
    .sidebar {
        width: 64px;
        height: 100%;
        top: 0;
        right: 0;
        left: unset;
        position: fixed;
        margin: 0;
        border-radius: 0;
    }

    .sidebar .top {
        height: 96px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
    }

    /*.sidebar .top .svgText from second to last child*/
    .sidebar .top .svgText:nth-child(n+2) {
        display: none;
    }

    .sidebar .top .svgText:first-child {
        transform: unset;
    }

    .sidebar .top .svgText:first-child {
        transform: scale(4) translate(-10px, -75px)
    }

    .sidebar .bottom {
        bottom: 0;
    }

    .docs {
        display: none;
    }

    .bottom {
        top: 96px;
        bottom: 0;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        width: 100%;
        font-weight: 600;
        overflow-y: hidden;
        height: 100%;
    }

    .menu-item {
        padding: 10px 16px 10px 16px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        font-size: var(--font-size-small);
    }

    .menu-item p {
        display: none !important;
    }

    .menu-icons {
        margin-right: 0;
        position: relative;
        top: 0;
        left: 0;
    }

    .hidden-account {
        display: unset !important;
    }

    .Heading {
        display: none;
    }

    .top-bar {
        display: none;
    }

    .menu-icons::before {
        top: 2px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .loader-text {
        display: none;
    }
}

@media only screen and (max-height: 772px){
    .docs {
        display: none;
    }
    
    .sidebar .bottom {
        bottom: 0;
    }
}