@model Zermos_Web.Models.SomtodayGradesModel.SomtodayGradesModel

@{
    ViewBag.Title = "title";
}

@foreach (var grade in Model.items)
{
    <h1>@grade.vak.naam  -  @grade.geldendResultaat  -  @grade.datumInvoer.ToString("dddd dd-mm-yyyy")</h1>
}