@model Zermos_Web.Models.SomtodayGradesModel.Item

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="specific-grade">
    <div class="child">
        <div class="top-30">
            <p class="child">@Model.vak.naam</p>
            <p class="child">Nadat je je e-mailadres hebt ingevuld en op 'Inloggen' hebt geklikt, ontvang je een e-mail met een link om in te loggen. Als je nog geen account hebt, ontvang je een e-mail om een account aan te maken. Super simpel!</p>
        </div>
    </div>
</div>