@model Zermos_Web.Models.somtodayHomeworkModel.somtodayHomeworkModel

@{
    ViewBag.Title = "title";


    var groupedHomework = Model.items.GroupBy(item => item.datumTijd.Day);
}

<div class="homework-container">
    @foreach (var dayGroup in groupedHomework)
    {
        <div class="homework-day-parent">
            
            <h1>@(dayGroup.First()?.datumTijd.ToString("dddd dd MMMM") ?? "Geen datum!?")</h1>
            
            @foreach (var homeworkItem in dayGroup)
            {
                <div class="homeworkItem">
                    <div class="homeworkItem-top">
                        <p>@homeworkItem.lesgroep.vak.naam</p>
                        <div class="homework-content">@Html.Raw(homeworkItem.studiewijzerItem.omschrijving ?? homeworkItem.studiewijzerItem.onderwerp)</div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@if (Model.items.Count == 0)
{
    <h1 style="position: relative; top: 50%; width: 100%; transform: translate(0, -50%); text-align: center; color: var(--text-color);">Geen huiswerk, nice!</h1>
}