@using Zermos_Web.Utilities
@model Zermos_Web.Models.somtodayHomeworkModel.somtodayHomeworkModel

@{
    ViewBag.Title = "title";
}

@foreach (var homework in Model.items)
{
    <h1>@homework.lesgroep.vak.naam  -  @HTMLUtils.StripHTML(homework.studiewijzerItem.omschrijving)  -  @homework.datumTijd.ToString("dddd dd-mm-yyyy")</h1>
}
