@model Zermos_Web.Models.SomtodayLeermiddelen.SomtodayLeermiddelenModel

<link rel="stylesheet" href="/css/somtoday.css" preload/>

<div class="leermiddelen-container">
    @foreach (var leermiddel in Model.items)
    {
        <div class="leermiddel" onclick="window.open('@leermiddel.URL')">
            <i class="fa-solid fa-external-link"></i>
            <h1>@leermiddel.Title</h1>
            
            @{
                List<string> desc = new(){};
                desc = leermiddel.Uitgever != null ? desc.Append(leermiddel.Uitgever).ToList() : desc;
                desc = leermiddel.DashboardMethodeNaam != null ? desc.Append(leermiddel.DashboardMethodeNaam).ToList() : desc;
            }
            
            <p>@string.Join(" • ", desc)</p>
        </div>
    }
    
    @if (Model.items.Count == 0)
    {
        <div class="add-leermiddel" onclick="openAddingModal()">
            <i class="fa-solid fa-plus"></i>
            <h1>Voeg een leermiddel toe</h1>
        </div>
    }
</div>

<script>
    addButtonToPage('fa-plus', openAddingModal)
    
    function openAddingModal() {
        new ZermosModal()
            .addHeading('Leermiddel toevoegen')
            .addText('Voeg je eigen leermiddelen toe aan Zermos, vul de volgende gegevens in:')
            .addTextInput(true, 'URL van het leermiddel')
            .addTextInput(true, 'Titel van het leermiddel')
            .addTextInput(true, 'Uitgever van het leermiddel')
            .addButton('Toevoegen', (ctx) => {

                var values = ctx.getComponentsValue();
                
                if (!values.correct) return;

                const data = {
                    url: encodeURI(values.values[0].value),
                    title: encodeURI(values.values[1].value),
                    uitgever: encodeURI(values.values[2].value)
                }

                fetch('/Somtoday/Leermiddelen?title=' + data.title + '&url=' + data.url + '&uitgever=' + data.uitgever, {
                    method: 'POST'
                })
                    .then(response => {
                        if (response.ok) {
                            ReplacePage('/Somtoday/Leermiddelen', true)
                        } else {
                            new ZermosModal()
                                .addHeading('Fout')
                                .addText(data.error)
                                .addButton('Sluiten')
                                .open()
                        }
                    })
            })
            .open()
    }
</script>