@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="~/css/somtoday.css" />

<form class="add-homework" id="add-homework">
    <div class="date">
        <label for="date">Wanneer moet het huiswerk af zijn?</label>
        <input type="date" name="date" id="date" placeholder="dd-mm-yyyy" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(1).ToString("yyyy-MM-dd")"/>
    </div>

    <div class="title">
        <label for="title">Welke titel krijgt het huiswerk?</label>

        <input type="text" name="title" id="title" placeholder="Titel"/>
    </div>

    <div class="description">
        <label for="description">Wat is de beschrijving van het huiswerk?</label>
        <textarea name="description" id="description" placeholder="Beschrijving"></textarea>
    </div>

    <button type="submit" class="submit">Huiswerk toevoegen</button>
</form>

<script>
$('#add-homework').submit(function(e) {
    e.preventDefault();
    
    fetch('/Somtoday/Huiswerk/Nieuw', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `title=${document.getElementById("title").value}&description=${document.getElementById("description").value}&date=${document.getElementById("date").value}`
    }).then(response => {
        if (response.status === 200) {
            ReplacePage('/Somtoday/Huiswerk');
        }
    }).catch(error => {
        console.error(error);
    });
});
</script>