@using Zermos.Models
@model List<List<ZermeloScheduleModel.Appointment>>

<link rel="stylesheet" href="~/css/Zermelo.css"/>
@{
    ViewData["Title"] = "Dagrooster";
    Layout = "_Layout";
}

<div class="rooster-container">
    <div class="grid-column-days">
        <div class="grid-item">
            Maandag
        </div>
        <div class="grid-item">
            Dinsdag
        </div>
        <div class="grid-item">
            Woensdag
        </div>
        <div class="grid-item">
            Donderdag
        </div>
        <div class="grid-item">
            Vrijdag
        </div>
    </div>

    <div class="rooster-times-container">
        <div class="grid-column-numbering">
            <div class="grid-item">
                1<br>8:20<br>9:10
            </div>
            <div class="grid-item">
                2
            </div>
            <div class="grid-item">
                3
            </div>
            <div class="grid-item">
                4
            </div>
            <div class="grid-item">
                5
            </div>
            <div class="grid-item">
                6
            </div>
            <div class="grid-item">
                7
            </div>
            <div class="grid-item">
                8
            </div>
            <div class="grid-item">
                9
            </div>
        </div>

        <div class="grid-container">
            @foreach (var appointmentDay in Model)
            {
                <div class="grid-column">
                    @{
                        int lessonNumber = 1;
                    }
                    @for (int i = 0; i < appointmentDay.Count; i++)
                    {
                        @if (appointmentDay[i].startTimeSlotName == lessonNumber.ToString())
                        {
                            <div class="grid-item">
                                @(appointmentDay[i].subjects.Count > 0 ? appointmentDay[i].subjects[0] : "")
                            </div>
                        }
                        else
                        {
                            <div class="grid-item">

                            </div>

                            i--;
                        }
                        lessonNumber++;
                    }
                    @for (int i = 0; i < 9 - appointmentDay.Count; i++)
                    {
                        <div class="grid-item">

                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="grid-item-info">

</div>