@model Infrastructure.Entities.user

<link rel="stylesheet" href="/css/account.css">

<div class="account-container">
    <div class="account-item">
        <h1>BELANGRIJK!</h1>
        <p>Deze pagina is bedoeld om dingen te testen en is voor de normale gebruiker niet bedoeld. Als je problemen ondervindt met Zermos en je is verteld om deze pagina te openen. Blijf dan lekker rondhangen :)</p>
    </div>
    
    <div class="account-item" onclick="RefreshCSS()">
        <h1>CSS refreshen</h1>
        <p>Als Zermos er niet helemaal tof uitziet, dan kan je hier de CSS refreshen. Ik kan je ook aanraden om gelijk de JS te refreshen, maar dat hoeft niet.</p>
    </div>
    
    <div class="account-item" onclick="RefreshJS()">
        <h1>JS refreshen</h1>
        <p>Als Zermos niet helemaal lekker werkt, dan kan je hier de JS refreshen. Ik kan je ook aanraden om gelijk de CSS te refreshen, maar dat hoeft niet.</p>
    </div>
    
    <div class="account-item" onclick="TogglePreview('microsoft')">
        <h1>Microsoft aan/uit</h1>
        <p>Bekijk de Microsoft koppelingen preview.</p>
    </div>
    
    <div class="account-item" onclick="TogglePreview('zermelo_share')">
        <h1>zermelo schedule share aan/uit</h1>
        <p>Bekijk deze zermelo rooster deel preview.</p>
    </div>
</div>

<script>
    function RefreshCSS() {
        var links = document.getElementsByTagName("link");
        for (var cl in links) {
            var link = links[cl];
            if (link.rel === "stylesheet") {
                //replace the ?v= with a random string of 10 long
                link.href = link.href.replace(/\?v=.*$/, "?v=" + Math.random().toString(36).substring(2, 12));
            }
        }
    }
    
    function RefreshJS() {
        var scripts = document.getElementsByTagName("script");
        for (var cl in scripts) {
            var script = scripts[cl];
            if (script.src !== undefined) {
                //replace the ?v= with a random string of 10 long
                script.src = script.src.replace(/\?v=.*$/, "?v=" + Math.random().toString(36).substring(2, 12));
            }
        }
    }
    
    //cookie preview=microsoft-somtoday-zermelo > TogglePreview("microsoft") > preview=somtoday-zermelo
    function TogglePreview(preview) {
        var cookie = document.cookie;
        var previewCookie = cookie.split(";").find((c) => c.trim().startsWith("preview="));
        if (previewCookie === undefined) {
            document.cookie = "preview=" + preview;
        } else {
            var previews = previewCookie.split("=")[1].split("-");
            if (previews.includes(preview)) {
                previews.splice(previews.indexOf(preview), 1);
            } else {
                previews.push(preview);
            }
            document.cookie = "preview=" + previews.join("-");
        }
        location.reload();
    }
</script>
