@model Infrastructure.Entities.user

<link rel="stylesheet" href="/css/account.css">

<div class="settings-container">
    <div class="setting-item">
        <h1>Thema's</h1>
        <p>Welke thema wil je gebruiken?</p>
        <div class="settings-options">
            <div id="1_light" onclick="UpdateTheme('light', this)" class="setting-button@(Model.theme == "light" ? " selected" : "")">licht</div>
            <div id="1_dark" onclick="UpdateTheme('dark', this)" class="setting-button@(Model.theme == "dark" ? " selected" : "")">donker</div>
            <div id="1_red" onclick="UpdateTheme('red', this)" class="setting-button@(Model.theme == "red" ? " selected" : "")">rood</div>
            <div id="1_blue" onclick="UpdateTheme('blue', this)" class="setting-button@(Model.theme == "blue" ? " selected" : "")">blauw</div>
            <div id="1_pink" onclick="UpdateTheme('pink', this)" class="setting-button@(Model.theme == "pink" ? " selected" : "")">roze</div>
        </div>
    </div>

    <div class="setting-item">
        <h1>Laad pagina</h1>
        <p>Welke pagina wil je zien als je Zermos opent?</p>
        <div class="settings-options">
            <div id="2_Rooster" onclick="UpdateSetting('default_page', '/Zermelo/Rooster', this)" class="setting-button@(Model.default_page == "/Zermelo/Rooster" ? " selected" : "")">Je rooster</div>
            <div id="2_Cijfers" onclick="UpdateSetting('default_page', '/Somtoday/Cijfers', this)" class="setting-button@(Model.default_page == "/Somtoday/Cijfers" ? " selected" : "")">Je cijfers</div>
            <div id="2_Huiswerk" onclick="UpdateSetting('default_page', '/Somtoday/Huiswerk', this)" class="setting-button@(Model.default_page == "/Somtoday/Huiswerk" ? " selected" : "")">Je huiswerk</div>
            <div id="2_SchoolNieuws" onclick="UpdateSetting('default_page', '/Infowijs/Schoolnieuws', this)" class="setting-button@(Model.default_page == "/Infowijs/Schoolnieuws" ? " selected" : "")">Het schoolnieuws</div>
            <div id="2_SchoolKalender" onclick="UpdateSetting('default_page', '/Infowijs/Schoolkalender', this)" class="setting-button@(Model.default_page == "/Infowijs/Schoolkalender" ? " selected" : "")">De schoolkalender</div>
            <div id="2_informatiebord" onclick="UpdateSetting('default_page', '/School/informatiebord', this)" class="setting-button@(Model.default_page == "/School/informatiebord" ? " selected" : "")">Het informatiebord</div>
        </div>
    </div>

    <div class="setting-item">
        <h1>Handig?</h1>
        <p>Welke hand gebruik je voor zermos?</p>
        <div class="settings-options">
            <div id="3_Links" onclick="UpdateHandSide('left', this)" class="setting-button@(Model.hand_side == "left" ? " selected" : "")">Met mijn linker hand</div>
            <div id="3_Rechts" onclick="UpdateHandSide('right', this)" class="setting-button@(Model.hand_side == "right" ? " selected" : "")">Met mijn rechter hand</div>
        </div>
    </div>
    
    <div class="setting-item">
        <h1>Lettergrootte</h1>
        <p>Hoe goed zijn je ogen?</p>
        <div class="settings-options">
            <div id="4_goed" onclick="UpdateFontSize('font-scale-1', this)" class="setting-button@(Model.font_size == "font-scale-1" ? " selected" : "")">Goed (100%)</div>
            <div id="4_redelijk" onclick="UpdateFontSize('font-scale-2', this)" class="setting-button@(Model.font_size == "font-scale-2" ? " selected" : "")">Redelijk (125%)</div>
            <div id="4_kan" onclick="UpdateFontSize('font-scale-3', this)" class="setting-button@(Model.font_size == "font-scale-3" ? " selected" : "")">Kan beter (150%)</div>
            <div id="4_meh" onclick="UpdateFontSize('font-scale-4', this)" class="setting-button@(Model.font_size == "font-scale-4" ? " selected" : "")">Meh (175%)</div>
            <div id="4_slecht" onclick="UpdateFontSize('font-scale-5', this)" class="setting-button@(Model.font_size == "font-scale-5" ? " selected" : "")">Slecht (200%)</div>
        </div>
    </div>

    <div class="setting-item">
        <h1>Rooster</h1>
        <p>Wat zijn jouw schooltijden</p>
        <div class="settings-options">
            <input type="time" id="5_start_time" name="start_time" min="08:00" max="18:00" value="@Model.zermelo_timestamps.Split("-")[0]"/>
            <input type="time" id="5_end_time" name="end_time" min="08:00" max="18:00" value="@Model.zermelo_timestamps.Split("-")[1]"/>
            <div id="5_save" onclick="UpdateSchooltijen(this)">Opslaan</div>
        </div>
    </div>
</div>

<script minimize>
@Context.Items["dmjs"]

function UpdateTheme(theme, element) {
    document.documentElement.classList.remove("light");
    document.documentElement.classList.remove("dark");
    document.documentElement.classList.remove("red");
    document.documentElement.classList.remove("blue");
    document.documentElement.classList.remove("pink");
    document.querySelector("meta[name=theme-color]").setAttribute("content", theme === "light" || theme === "blue" ? "#f8f9fa" : theme === "dark" || theme === "red" ? "#1a1a1a" : theme === "pink" ? "#ffebf2" : "#f8f9fa");
    document.documentElement.classList.add(theme);
    
    //expires in 60 days
    document.cookie = "theme=" + theme + ";path=/;max-age=5184000";
    UpdateSetting("theme", theme, element);
}

function UpdateHandSide(side, element) {
    document.documentElement.classList.remove("left");
    document.documentElement.classList.remove("right");
    document.documentElement.classList.add(side);
    document.cookie = "hand_side=" + side + ";path=/;max-age=5184000";
    UpdateSetting("hand_side", side, element);
}

function UpdateDefaultPage(page, element) {
    document.cookie = "default_page=" + page + ";path=/;max-age=5184000";
    UpdateSetting("default_page", page, element);
}

function UpdateFontSize(value, element) {
    document.documentElement.classList.remove("font-scale-1");
    document.documentElement.classList.remove("font-scale-2");
    document.documentElement.classList.remove("font-scale-3");
    document.documentElement.classList.remove("font-scale-4");
    document.documentElement.classList.remove("font-scale-5");
    document.documentElement.classList.add(value);
    document.cookie = "font_size=" + value + ";path=/;max-age=5184000";
    UpdateSetting("font_size", value, element);
}

function UpdateSchooltijen(element) {
    var start_time = document.getElementById("5_start_time").value;
    var end_time = document.getElementById("5_end_time").value;
    UpdateSetting("zermelo_timestamps", start_time + "-" + end_time, element);
}

function UpdateSetting(key, value, element) {   
    var url = "/Account/UpdateSetting?key=" + key + "&value=" + value;
    fetch(url, {
        method: 'POST'
    })
    //plain text is returned, either 200 or 400
    .then(response => response.text())
    .then((response) => {
        //if status is 200
        if (response === "200") {
            
            element = document.getElementById(element.id);
            var siblings = element.parentNode.children;
            
            for (var i = 0; i < siblings.length; i++) {
                siblings[i].classList.remove("selected");
            }
            
            element.classList.add("selected");
            
        } else {
            console.error("Error: " + response);
        }
    });
}

</script>