@model string


<link rel="stylesheet" href="/css/koppelingen.css" preload/>

<div class="login">
    <div class="login-explanation">
        <h1>Koppel Infowijs aan je account!</h1>
        <p class="child">Vul hier je schoolmail in.</p>
        <p class="child">Om Infowijs te koppelen aan je account, moet je eerst je schoolmail invullen. Je krijgt dan een mail met een knop, als je op die knop klikt wordt je doorgestuurd naar infowijs, je krijgt een groen vinkje te zien met de tekst '<b>Gelukt!</b>'. Als je dit ziet, open Zermos dan weer en klik op de knop 'check of je ingelogd bent' die dadelijk hieronder verschijnt.</p>
    </div>
    <form method="post" asp-controller="Koppelingen" asp-action="InfowijsWithEmail" class="form-control">
        <input class="input" type="email" id="email" name="email" placeholder="schoolmail" />
        <button class="input submit" type="submit">Stuur mij de email</button>
    </form>
</div>

<div class="login" style="display: none">
    <div class="login-explanation">
        <h1>Koppel Infowijs aan je account!</h1>
        <p>Check of je een mail hebt ontvangen</p>
        <p>Er is een mail gestuurd naar <b id="email-text">[Email]</b>, deze mail is namens 'Antonius (noreply@mailer.hoyapp.nl)' gestuurd. Klik op de knop in de mail, je krijgt een groen vinkje te zien met de tekst '<b>Gelukt!</b>'. Als je dit ziet, open Zermos dan weer en klik op de knop 'check of je ingelogd bent' hieronder</p>
    </div>
    <form method="post" asp-controller="Koppelingen" asp-action="InfowijsWithEmail" class="form-control">
        <button class="input submit" type="submit">Check of je ingelogd bent</button>
    </form>
</div>

<script minimize>
@Context.Items["dmjs"]

//say that the email must be the email that is used to log into infowijs (most likely the school email)
//request the products with the new infowijs endpoint
//send an email to the correct email using the existing email service



</script>