@model dynamic

<link rel="stylesheet" href="/css/infowijs.css" preload/>

<div class="calander-group" style="filter: blur(var(--padding))">
<div class="calendar-container" data-current="1">
<div class="calendar-month-parent" id="1">

    <h1>juli 2023</h1>

    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Boeken inleveren op school <br>

        maandag 3 juli <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Geen lessen i.v.m. studiedag <br>

        woensdag 5 juli <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Rapport ophalen <br>

        donderdag 6 juli <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Uitslag CE2 <br>

        donderdag 6 juli <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Diploma-uitreiking Goudse schouwburg <br>

        donderdag 6 juli 16:00 - 21:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: zomervakantie <br>

        maandag 10 juli t/m vrijdag 18 augustus <br>

    </div>
</div>
<div class="calendar-month-parent" id="2">

    <h1>augustus 2023</h1>

    <div class="calendar-item" style="opacity: 0.5;">
        ACG: School open voor medewerkers <br>

        maandag 14 augustus <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Schoolfotograaf brugklassen <br>

        dinsdag 22 augustus <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Start van nieuwe schooljaar <br>

        dinsdag 22 augustus <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Ouderavond examenklassen <br>

        dinsdag 22 augustus 18:30 - 20:30 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Vanaf vandaag catering weer open <br>

        woensdag 23 augustus <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Examenreis Berlijn 5h en 6v <br>

        maandag 28 augustus t/m vrijdag 1 september <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Brugklaskamp <br>

        woensdag 30 augustus t/m vrijdag 1 september <br>

    </div>
</div>
<div class="calendar-month-parent" id="3">

    <h1>september 2023</h1>

    <div class="calendar-item" style="opacity: 0.5;">
        ACG: 40-minutenrooster <br>

        dinsdag 5 september <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: 40-minutenrooster i.v.m. de warmte <br>

        woensdag 6 september t/m vrijdag 8 september <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Ouderavond brugklassen <br>

        donderdag 7 september 18:30 - 20:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Driehoeksgesprekken alle leerjaren <br>

        maandag 11 september t/m vrijdag 15 september <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Thema-avond middelengebruik <br>

        donderdag 14 september 19:00 - 21:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: MR-vergadering <br>

        maandag 18 september 19:30 - 22:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Cito 0 brugklassen <br>

        dinsdag 19 september t/m donderdag 21 september <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Schoolfotograaf klassen 2 en hoger <br>

        dinsdag 19 september <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: 40 minuten rooster <br>

        donderdag 28 september <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Cito-0 toets inhaalmoment <br>

        donderdag 28 september <br>

    </div>
</div>
<div class="calendar-month-parent" id="4">

    <h1>oktober 2023</h1>

    <div class="calendar-item" style="opacity: 0.5;">
        ACG: 40-minutenrooster <br>

        maandag 2 oktober <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Start Top Talent Tijd brugklassen <br>

        maandag 2 oktober <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Voorstelling promo drama <br>

        maandag 2 oktober 12:30 - 14:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: GPR-examens <br>

        dinsdag 3 oktober 15:00 - 16:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Profielkeuzeavond klassen 3 <br>

        dinsdag 3 oktober 18:30 - 20:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Geen lessen i.v.m. studiedag <br>

        woensdag 4 oktober <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: SE1 5h/6v <br>

        donderdag 5 oktober t/m vrijdag 13 oktober <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Dag van de leraar <br>

        donderdag 5 oktober <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: PWS-pitchmarkt 4h/5v <br>

        donderdag 5 oktober 14:30 - 17:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Informatiemiddag ouders IB <br>

        vrijdag 6 oktober 16:00 - 17:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Junior TTO uitreikingen <br>

        vrijdag 13 oktober 15:30 - 19:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Uitreiking FCE, CAE en TTO-certificaten klas-4 <br>

        vrijdag 13 oktober 15:30 - 19:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: herfstvakantie <br>

        zaterdag 14 oktober t/m zondag 22 oktober <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Vanaf vandaag gymlessen binnen <br>

        maandag 23 oktober <br>

    </div>
    <div class="calendar-item" style="opacity: 0.5;">
        ACG: Geen lessen i.v.m. studiedag <br>

        vrijdag 27 oktober <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Promo drama 3h <br>

        maandag 30 oktober <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Promo drama 5v/6v <br>

        dinsdag 31 oktober <br>

    </div>
</div>
<div class="calendar-month-parent" id="5">

    <h1>november 2023</h1>

    <div class="calendar-item" style="opacity: 1;">
        ACG: Gastlessen brugklassen <br>

        donderdag 2 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Filmvertoning ecoschools B10/11 <br>

        vrijdag 3 november 15:00 - 17:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Uitreiking IB-certificaten aula <br>

        vrijdag 3 november 16:00 - 17:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: 40-minutenrooster <br>

        maandag 6 november t/m vrijdag 10 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: MR-vergadering <br>

        maandag 6 november 19:30 - 22:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: workshops global exploration brugklassen en tweede klassen <br>

        dinsdag 14 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: 40-minutenrooster <br>

        woensdag 15 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: herkansingen SE1 <br>

        donderdag 16 november t/m vrijdag 17 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Phileas Fogg derde klassen <br>

        vrijdag 17 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Driehoeksgesprekken mentor/leerling/ouder <br>

        maandag 20 november t/m vrijdag 24 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: TTO-uitwisseling klas 3 <br>

        maandag 20 november t/m vrijdag 24 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Mamma Mia voorstelling <br>

        dinsdag 21 november 19:30 - 21:30 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Gastles burgemeester (BMO) <br>

        donderdag 23 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Geen les i.v.m. informatiedag voor groep 8 <br>

        woensdag 29 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Informatiedag voor groep 8 <br>

        woensdag 29 november 15:00 - 21:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Excursie Kube BV/CKV 5h en 6v <br>

        donderdag 30 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Excursie Nemo voor brugklassen <br>

        donderdag 30 november <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Excursie Wageningen voor 5v (economie) <br>

        donderdag 30 november <br>

    </div>
</div>
<div class="calendar-month-parent" id="6">

    <h1>december 2023</h1>

    <div class="calendar-item" style="opacity: 1;">
        ACG: 40-minutenrooster <br>

        dinsdag 5 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Dag van de Kunsten <br>

        vrijdag 8 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Paarse vrijdag <br>

        vrijdag 8 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: MR-vergadering <br>

        maandag 11 december 19:30 - 22:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Toetsweek SE2 <br>

        woensdag 13 december t/m donderdag 21 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Toetsweek bovenbouw <br>

        woensdag 13 december t/m donderdag 21 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: 40-minutenrooster <br>

        donderdag 14 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Binnensportdag klas 2 <br>

        vrijdag 15 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Foute kersttruiendag <br>

        woensdag 20 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Sportdag 4h/4v kersttoernooi <br>

        vrijdag 22 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: kerstviering onderbouw <br>

        vrijdag 22 december <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: kerstvakantie <br>

        zaterdag 23 december t/m zondag 7 januari <br>

    </div>
</div>
<div class="calendar-month-parent" id="7">

    <h1>januari 2024</h1>

    <div class="calendar-item" style="opacity: 1;">
        ACG: Inhaalmoment toetsweek voorexamenklassen <br>

        maandag 15 januari <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Practicum natuurkunde examenklassen <br>

        dinsdag 16 januari <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Geen les i.v.m. studiedag <br>

        donderdag 18 januari <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Excursie Maritien museum klas 3 Technasium <br>

        vrijdag 19 januari <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: MR-vergadering <br>

        maandag 22 januari 19:30 - 22:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Cito 3 (klassen 3) <br>

        dinsdag 23 januari t/m woensdag 24 januari <br>

    </div>
</div>
<div class="calendar-month-parent" id="8">

    <h1>februari 2024</h1>

    <div class="calendar-item" style="opacity: 1;">
        ACG: Voorjaarsvakantie <br>

        zaterdag 17 februari t/m zondag 25 februari <br>

    </div>
</div>
<div class="calendar-month-parent" id="9">

    <h1>maart 2024</h1>

    <div class="calendar-item" style="opacity: 1;">
        ACG: Reünie Antoniuscollege 75 jaar <br>

        zaterdag 2 maart <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: MR-vergadering <br>

        maandag 11 maart 19:30 - 22:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: vrij i.v.m. Tweede Paasdag <br>

        maandag 1 april <br>

    </div>
</div>
<div class="calendar-month-parent" id="10">

    <h1>april 2024</h1>

    <div class="calendar-item" style="opacity: 1;">
        ACG: MR-vergadering <br>

        maandag 15 april 19:30 - 22:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: Meivakantie <br>

        zaterdag 20 april t/m zondag 5 mei <br>

    </div>
</div>
<div class="calendar-month-parent" id="11">

    <h1>mei 2024</h1>

    <div class="calendar-item" style="opacity: 1;">
        ACG: Vrij i.v.m. Hemelvaartsdag <br>

        donderdag 9 mei <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: IB-examens <br>

        donderdag 9 mei t/m vrijdag 10 mei <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: vrij i.v.m. studiedag <br>

        vrijdag 10 mei <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: vrij i.v.m. Tweede Pinksterdag <br>

        maandag 20 mei <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: MR-vergadering <br>

        maandag 27 mei 19:30 - 22:00 <br>

    </div>
</div>
<div class="calendar-month-parent" id="12">

    <h1>juni 2024</h1>

    <div class="calendar-item" style="opacity: 1;">
        ACG: MR-vergadering <br>

        maandag 10 juni 19:30 - 22:00 <br>

    </div>
    <div class="calendar-item" style="opacity: 1;">
        ACG: MR-vergadering <br>

        maandag 24 juni 19:30 - 22:00 <br>

    </div>
</div>
<div class="calendar-month-parent" id="13">

    <h1>juli 2024</h1>

    <div class="calendar-item" style="opacity: 1;">
        ACG: zomervakantie <br>

        zaterdag 13 juli t/m zondag 25 augustus <br>

    </div>
</div>
</div>
<div class="dates-container">
    <div class="month" href="?1">
        juli
    </div>
    <div class="month" href="?2">
        augustus
    </div>
    <div class="month" href="?3">
        september
    </div>
    <div class="month" href="?4">
        oktober
    </div>
    <div class="month" href="?5">
        november
    </div>
    <div class="month" href="?6">
        december
    </div>
    <div class="month" href="?7">
        januari
    </div>
    <div class="month" href="?8">
        februari
    </div>
    <div class="month" href="?9">
        maart
    </div>
    <div class="month" href="?10">
        april
    </div>
    <div class="month" href="?11">
        mei
    </div>
    <div class="month" href="?12">
        juni
    </div>
    <div class="month" href="?13">
        juli
    </div>
</div>
</div>

<script minimize>
@Context.Items["dmjs"]

    var indexItems = document.querySelectorAll('.dates-container div');
    var items = document.querySelectorAll('.calendar-month-parent');

    //add the 'active' class to the item who's top is the closest to the top of the mainElement
    function setActive() {
      var closest = items[0];
      var closestDistance = Math.abs(items[0].getBoundingClientRect().top - main.getBoundingClientRect().top - 96);
    
      for (var i = 1; i < items.length; i++) {
        var distance = Math.abs(items[i].getBoundingClientRect().top - main.getBoundingClientRect().top - 96);
        if (distance < closestDistance) {
          closest = items[i];
          closestDistance = distance;
        }
      }
    
      for (var i = 0; i < indexItems.length; i++) {
        indexItems[i].classList.remove('active');
      }
    
      for (var i = 0; i < indexItems.length; i++) {
        if (indexItems[i].getAttribute('href') === '?' + closest.getAttribute('id')) {
          indexItems[i].classList.add('active');
          break;
        }
      }
    }

    //add the 'active' class to the item who's top is the closest to the top of the mainElement
    setActive();

    //add the 'active' class to the item who's top is the closest to the top of the mainElement when scrolling
    addEventListenerToMain('scroll', function() {
        setActive();

        var max_scroll = this.scrollHeight - this.clientHeight - 100;
        var current_scroll = this.scrollTop;
        var bottom = 100;
        var current = 0;
        if ( current_scroll + bottom >= max_scroll ) {
          var ul = document.querySelector( ".calendar-container" );
          current = parseInt( ul.dataset.current, 10 );
          var li = document.querySelector('.calendar-container .calendar-month-parent[id="' + current + '"]');
          if ( !li ) {
            current = 1;
            li = document.querySelector('.calendar-container .calendar-month-parent[id="' + current + '"]');
          }
          ul.appendChild(li);
          ul.dataset.current = current + 1;
        }
    } );
    
    //every 10ms
    var interval = setInterval( function() {
        main.scrollBy( 0, 1 );
    }, 10 );
    
    Zermos.mainUnload = () => {
        clearInterval(interval);
    }
    
    new ZermosModal()
    .addHeading({text: "Infowijs is niet gekoppeld"})
    .addHeading({text: "Omdat je Infowijs niet aan je Zermos account gekoppeld hebt, mis je nu toegang tot de schoolkalender en het schoolnieuws. Koppel Infowijs aan je Zermos account om toegang te krijgen tot deze functies."})
    .addButton("Ga naar koppelingen", () => ReplacePage('/koppelingen/Infowijs'))
    .open();
</script>