<link rel="stylesheet" href="~/css/koppelingen.css" />

<div class="koppelingen-container">
    <div class="zermelo">
        <h1>Infowijs met Email</h1>
        <p>Om Infowijs te koppelen aan je account, moet je eerst je schoolmail invullen. Je krijgt dan een mail met een knop, als je op die knop klikt wordt je doorgestuurd naar infowijs, je krijgt een groen vinkje te zien met de tekst 'Gelukt!'. Als je dit ziet, open Zermos dan weer en klik op de knop 'check of je ingelogd bent' die dadelijk hieronder verschijnt.</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a onclick="ReplacePage('@Url.Action("InfowijsWithEmail", "Koppelingen")')">Koppel Infowijs met je email</a>
        </div>
    </div>
    <div class="zermelo">
        <h1>Infowijs met Qr-code</h1>
        <p>Scan deze code met de QR code scanner in de antonius app (Antonius app > Meer > Hoy Scan), klik daarna op 'check of je ingelogd bent' en je bent ingelogd!</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a onclick="ReplacePage('@Url.Action("InfowijsQR", "Koppelingen")')">Koppel Infowijs een QR-code</a>
        </div>
    </div>
</div>