@model string

<link rel="stylesheet" href="~/css/koppelingen.css" />

<div class="login">
    <div class="login-explanation">
        <p>Vul hier je schoolmail in.</p>
        <p>Scan deze code met de QR code scanner in de antonius app (Antonius app > Meer > Hoy Scan) en je bent ingelogd!</p>
        <img onload="imageLoaded()" src="https://api.qrserver.com/v1/create-qr-code/?size=360x360&data=@(ViewData["qr_text"])" alt="qr code" class="img-thumbnail">
        <div class="loading-icon">
            <img src="/images/Loading-Icon-by-Kanggraphic-27-580x386-removebg-preview.png" >
        </div>
    </div>
    <form method="post" asp-controller="Koppelingen" asp-action="InfowijsQr" asp-route-uuid="@ViewData["uuid"]" asp-route-retry="true">
        @* <button class="input submit" type="submit" id="check">Check @((bool)ViewData["retry"]! ? "opnieuw" : "") of je ingelogd bent</button> *@
    </form>
</div>

<script minimize>
@Context.Items["dmjs"]

function imageLoaded() {
    var loadingIcon = document.getElementsByClassName("loading-icon")[0];
    loadingIcon.style.display = "none";
}

var CheckingTimeout = null;

SendCheck();

Zermos.mainUnload = function() {
    clearTimeout(CheckingTimeout);
};

//when user submits the form, use the function below to check if the user is logged in
// document.getElementsByTagName("form")[0].addEventListener("submit", function(e) {
//     e.preventDefault();
//     SendCheck();
// });

function SendCheck() {
    var form = document.getElementsByTagName("form")[0];
    //var button = document.getElementById("check");
    //button.innerHTML = "Bezig met laden...";
    //button.disabled = true;
    var xhr = new XMLHttpRequest();
    xhr.open("POST", form.action);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                if (xhr.responseText === "success") {
                    clearInterval(CheckingTimeout);
                    ReplacePage('@Url.Action("Account", "Account")');
                } else {
                    CheckingTimeout = setTimeout(function() {
                        SendCheck();
                    }, 1000);
                }
            }
            else {
                CheckingTimeout = setTimeout(function() {
                    SendCheck();
                }, 1000);
            }
        }
    };
    xhr.send();
}
</script>