@model string

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="~/css/koppelingen.css" />

<div class="login">
    <div class="login-explanation">
        <h1>Koppel Microsoft aan je account!</h1>
        <p class="child">Om Microsoft te koppelen, dien je enkele stappen te volgen. Lees deze zorgvuldig door voordat je verder gaat! Klik vervolgens op de 'Kopiëren' knop hieronder, waarmee de onderstaande tekst wordt gekopieerd en er een nieuwe pop-up wordt geopend, genaamd 'Microsoft Graph Explorer'. Zodra alles is geladen, open je de 'Chrome Inspector' door met de rechtermuisknop te klikken en te kiezen voor 'Element inspecteren' (of gebruik de sneltoets: Ctrl + Shift + C). Klik bovenaan in de Chrome Inspector op de 'Console'-tab. Plak daar de gekopieerde code en druk op Enter. Als alles correct is uitgevoerd, verschijnt de tekst 'Gekopieerd!'. In dat geval kun je de twee pop-ups sluiten. Plak vervolgens de gekopieerde code in het veld hieronder en klik op 'Log mij in'. Als alles nog steeds soepel verloopt, ben je succesvol ingelogd. Hoera!</p>
        <p class="child">Als je meer wilt weten hoe dit achter de scherm allemaal werkt, <a href="https://zermos-docs.kronk.tech/Microsoft#achter-de-schermen">klik dan hier</a></p>
        <p class="child">Het kan zijn dat je toestemming moet geven om dingen naar je klembord te kopiëren. Als je dit niet wilt, kun je de code ook handmatig kopiëren en die toegang weigeren.</p>
        <!-- Make a code block with copy button -->
        <div class="code-child">
            <div class="codeblock">
                <div class="codeblock-header">
                    <h3>Code blok</h3>
                    <button class="copy-button" onclick="copyToClipboard(`@Model`); window.open('https://teams.microsoft.com','popUpWindow','height=800,width=600,left=10,top=10,,scrollbars=yes,menubar=no');">Kopieer</button>
                </div>
                <div class="codeblock-content">
                    <code>@Model</code>
                </div>
            </div>
        </div>
    </div>
    <form method="post" asp-controller="Koppelingen" asp-action="Microsoft" class="form-control">
        <input class="input" type="text" id="refreshToken" name="refreshToken" placeholder="code" />
        <button class="input submit" type="submit">Log mij in</button>
    </form>
</div>

<script>
//when user submits the form, use the function below to check if the user is logged in
document.getElementsByTagName("form")[0].addEventListener("submit", function (e) {
    e.preventDefault();
    
    var form = document.getElementsByTagName("form")[0];
    
    var url = form.action;
    var inputs = form.getElementsByTagName("input");
    for (var i = 0; i < inputs.length; i++) {
        var input = inputs[i];
        if (input.type === "hidden") continue;
        url += (i === 0 ? "?" : "&") + input.name + "=" + input.value;
    }
    
    var button = document.getElementsByTagName("button")[1];
    button.innerHTML = "Bezig met laden...";
    button.disabled = true;
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url);
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                if (xhr.responseText === "success") {
                    ReplacePage('@Url.Action("Account", "Account")');
                }
                else {
                    button.innerHTML = "Log opnieuw in";
                    button.disabled = false;
                }
            }
        }
    };
    xhr.send();
});
</script>