@model dynamic


<link rel="stylesheet" href="/css/somtoday.css">

<div class="homework-container" data-current="0" style="filter: blur(var(--padding))">
    <div class="homework-day-parent" id="0">
        <h1>maandag 09 oktober</h1>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="1">
        <h1>dinsdag 10 oktober</h1>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                    <p>
                        Make sure you have a
                        <strong>
                        <u>book</u>
                        </strong> to read for English.
                    </p>
                </div>
            </div>
        </div>
        <div class="homeworkItem grote_toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem grote_toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="2">
        <h1>woensdag 11 oktober</h1>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem grote_toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
            </div>
        </div>
        <div class="homeworkItem huiswerk normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
            </div>
        </div>
        <div class="homeworkItem huiswerk normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
            </div>
        </div>
        <div class="homeworkItem huiswerk normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="3">
        <h1>donderdag 12 oktober</h1>
        <div class="homeworkItem huiswerk normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem huiswerk normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem huiswerk normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="4">
        <h1>vrijdag 13 oktober</h1>
        <div class="homeworkItem toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="5">
        <h1>maandag 23 oktober</h1>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="6">
        <h1>dinsdag 24 oktober</h1>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
            </div>
        </div>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="7">
        <h1>woensdag 25 oktober</h1>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="8">
        <h1>vrijdag 27 oktober</h1>
        <div class="homeworkItem huiswerk  dag" time="1698440400" vak="Nederlandse tali" bijlagen="0" huiswerktype="huiswerk">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="9">
        <h1>maandag 30 oktober</h1>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                    <p>
                        <br>
                    </p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem huiswerk  normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem huiswerk bijlagen normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
                <div class="homework-bijlagen">
                    <a class="homework-bijlage">
                        <span class="fa-solid fa-paperclip" style=" vertical-align: middle;"></span>
                       <p>Dit is een bijlage</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="10">
        <h1>dinsdag 31 oktober</h1>
        <div class="homeworkItem toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="11">
        <h1>woensdag 01 november</h1>
        <div class="homeworkItem toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="12">
        <h1>vrijdag 03 november</h1>
        <div class="homeworkItem grote_toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="13">
        <h1>maandag 13 november</h1>
        <div class="homeworkItem toets week">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
        <div class="homeworkItem grote_toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="14">
        <h1>donderdag 16 november</h1>
        <div class="homeworkItem toets normaal">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="15">
        <h1>vrijdag 08 december</h1>
        <div class="homeworkItem huiswerk dag">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
            </div>
        </div>
    </div>
    <div class="homework-day-parent" id="16">
        <h1>maandag 11 december</h1>
        <div class="homeworkItem toets week">
            <div class="homeworkItem-top">
                <p style="width: fit-content;">
                    <b>Huiswerk</b> - Met dit onderwerp
                </p>
                <div class="homework-content">
                   <p>We gaan vandaag dit huiswerk maken</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script minimize>
@Context.Items["dmjs"]

addEventListenerToMain( "scroll", function() {
var max_scroll = this.scrollHeight - this.clientHeight - 100;
var current_scroll = this.scrollTop;
var bottom = 100;
var current = 0;
if ( current_scroll + bottom >= max_scroll ) {
  var ul = document.querySelector( ".homework-container" );
  current = parseInt( ul.dataset.current, 10 );
  var li = document.querySelector( ".homework-day-parent[id='" + current + "']" );
  if ( !li ) {
    current = 0;
    li = document.querySelector( ".homework-day-parent[id='" + current + "']" );
  }
  ul.appendChild(li);
  ul.dataset.current = current + 1;
}
} );

//every 10ms
var interval = setInterval( function() {
    main.scrollBy( 0, 1 );
}, 10 );

Zermos.mainUnload = () => {
    clearInterval(interval);
}



new ZermosModal()
.setTitle("Somtoday is niet gekoppeld")
.addText("Omdat je Somtoday nog niet aan je Zermos account gekoppeld hebt, mis je nu toegang tot je huiswerk en je cijfers. Klik op de knop hieronder om naar de koppelingen pagina te gaan en Somtoday te koppelen.")
.setSubmitButtonLabel("Ga naar koppelingen")
.disableClose()
.onSubmit(() => {
    ReplacePage('/koppelingen/Somtoday');
})
.open();
</script>