@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-controller="koppelingen" asp-action="somtoday" method="post">
    <!--Add username input with text 'gebruikersnaame' and password input with text 'wachtwoord'-->
    <input type="text" name="username" placeholder="gebruikersnaam">
    <input type="password" name="password" placeholder="wachtwoord">
    <input type="submit" value="Inloggen">
</form>


@if (Model is string)
{
    <script>
        //on page load
        document.addEventListener('DOMContentLoaded', function()
        {
            alert("@Model");
            
            document.querySelectorAll("tbody td:last-child").forEach(x => {
                console.log(x);
            });
        });
    </script>
}