<link rel="stylesheet" href="/css/koppelingen.css" preload/>

<div class="koppelingen-container">
    <div class="zermelo">
        <h1>Somtoday met inloggegevens</h1>
        <p>Om Somtoday te koppelen aan je account, moet je je schoolmail, Somtoday wachtwoord en de naam van je school invullen.</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a onclick="ReplacePage('@Url.Action("SomtodayWithCreds", "Koppelingen")')">Koppel Somtoday met je inloggegevens</a>
        </div>
    </div>
    <div class="zermelo">
        <h1>Somtoday hackerman methode</h1>
        <p>Deze methode wint geen schoonheidswedstrijd, maar het werkt wel. Met deze methode moet je een stukje code kopieren en in de chrome inspector plakken. Geen zorgen, alles is uitgelegd.</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a onclick="ReplacePage('@Url.Action("SomtodayHackerman", "Koppelingen")')">Koppel Somtoday als een echte hackerman</a>
        </div>
    </div>
</div>