@model object


<link rel="stylesheet" href="/css/koppelingen.css" preload/>

<script minimize>
@Context.Items["dmjs"]

new ZermosModal()
    .addHeading({text: "Tijdelijk niet beschikbaar"})
    .addText({text: "Vanwege een nog te onderzoeken probleem met Somtoday is deze methode (en de STAP methode) tijdelijk geblokkeerd. Sorry voor het ongemak, een oplossing wordt zo snel mogelijk geïmplementeerd.", asHtml: false})
    .openTroughAppending(main);
    
{
    var waitingModal = new ZermosModal()
    .addHeading({text: "Koppel Somtoday aan je account!"})
    .addText({text: "De benodigde data wordt nu opgehaald, even geduld a.u.b."})
    .openTroughAppending(main);

    var schools = [];
    var suggestions = document.getElementById("suggestions");
    //https://servers.somtoday.nl/organisaties.json where oidcurls are [] and do not contain data
    fetch("https://cors.mjtsgamer.workers.dev/https://servers.somtoday.nl/organisaties.json")
    .then(response => response.json())
    .then(data => {
        data[0].instellingen.forEach(school => {
            schools.push({label: school.naam, value: school.uuid});
        });
        
        //sort them by label
        schools.sort((a, b) => a.label.localeCompare(b.label));
        
        waitingModal.close();

        new ZermosModal()
            .addHeading({text: "Koppel Somtoday aan je account!"})
            .addText({text: "Helaas is er geen betere manier om Somtoday te koppelen anders dan je gebruikersnaam en wachtwoord in te voeren. Wees gerust, je wachtwoord wordt niet opgeslagen. Als je meer vragen hebt, dan staat dat <a href=\"https://zermos-docs.kronk.tech/Somtoday#waarom-kan-ik-alleen-inloggen-met-mijn-wachtwoord\">hier</a> uitgelegd<br><br>*Let op! deze koppeling werkt alleen als je in 1 of 2 stappen moet inloggen bij Somtoday (gebruiksnaam en wachtwoord tegelijkertijd óf gebruikersnaam en daarna wachtwoord), als je bij Somtoday inlogt met een externe provider zoals Microsoft, dan kan je helaas niet inloggen!", asHtml: true})
            .addDropdown({options: schools, required: true})
            .addLabel({text: "Gebruikersnaam"})
            .addTextInput({required: true})
            .addLabel({text: "Wachtwoord"})
            .addPasswordInput({required: true})
            .addButton({text: "Inloggen", onClick: (ctx) => {
                    var school = ctx.getComponentsValue().values[0].value.value;
                    var username = ctx.getComponentsValue().values[1].value;
                    var password = ctx.getComponentsValue().values[2].value;

                    var url = "?username=" + btoa(encodeURIComponent(username)).replace("=", "") + "&password=" + btoa(encodeURIComponent(password)).replace("=", "") + "&school=" + school;

                    fetch("@Url.Action("SomtodayWithCreds", "Koppelingen")" + url, {
                        method: "POST",
                        body: null,
                    })
                        .then((res) => res.text())
                        .then((text) => {
                            if(text === "success") {
                                newSidebar();
                                ReplacePage("@Url.Action("Account", "Account")");
                            }
                        })
                }})
            .openTroughAppending(main);
    });
}
</script>