@model object


<link rel="stylesheet" href="~/css/koppelingen.css" />

<div class="login">
    <div class="login-explanation">
        <h1>Koppel Somtoday aan je account!</h1>
        <p>Helaas is er geen betere manier om Somtoday te koppelen anders dan je gebruikersnaam en wachtwoord in te voeren. Wees gerust, je wachtwoord wordt niet opgeslagen. Als je meer vragen hebt, dan staat dat <a href="https://zermos-docs.kronk.tech/Somtoday#waarom-kan-ik-alleen-inloggen-met-mijn-wachtwoord">hier</a> uitgelegd</p>
    </div>
    <form asp-controller="koppelingen" asp-action="somtoday" method="post" class="form-control">
        <input class="input" type="text" name="username" placeholder="gebruikersnaam">
        <input class="input" type="password" name="password" placeholder="wachtwoord">
        <button class="input submit" type="submit">Inloggen</button>
    </form>
</div>

<script>
    //when user submits the form, use the function below to check if the user is logged in
    document.getElementsByTagName("form")[0].addEventListener("submit", function (e) {
        e.preventDefault();
        
        var form = document.getElementsByTagName("form")[0];
        
        var url = form.action;
        var inputs = form.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            var input = inputs[i];
            if (input.type === "hidden") continue;
            url += (i === 0 ? "?" : "&") + input.name + "=" + btoa(input.value);
        }
        
        var button = document.getElementsByTagName("button")[0];
        button.innerHTML = "Bezig met laden...";
        button.disabled = true;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    if (xhr.responseText === "success") {
                        ReplacePage('@Url.Action("Account", "Account")');
                    }
                    else {
                        button.innerHTML = "Log opnieuw in";
                        button.disabled = false;
                    }
                }
            }
        };
        xhr.send();
    });
</script>