@using Zermos_Web.Utilities
@using Zermos_Web.TagHelpers
@model string[]

@{
    //            var baseurl = string.Format("https://inloggen.somtoday.nl/oauth2/authorize?redirect_uri=somtoday://nl.topicus.somtoday.leerling/oauth/callback&client_id=somtoday-leerling-native&response_type=code&state={0}&scope=openid&tenant_uuid={1}&session=no_session&code_challenge={2}&code_challenge_method=S256&knf_entree_notification", TokenUtils.RandomString(8), school, tokens[1]);
    //0 = code verifier
    //1 = code challenge
    string codeVerifier = Model[0];
    string codeChallenge = Model[1];
    string URL = string.Format("https://inloggen.somtoday.nl/oauth2/authorize?redirect_uri=somtoday://nl.topicus.somtoday.leerling/oauth/callback&client_id=somtoday-leerling-native&response_type=code&state={0}&scope=openid&session=no_session&code_challenge={1}&code_challenge_method=S256&knf_entree_notification&tenant_uuid=", TokenUtils.RandomString(8), codeChallenge);
}

<script minimize>
@Context.Items["dmjs"]

var codeVerifier = "@codeVerifier";
var codeChallenge = "@codeChallenge";
var URL = "@Html.Raw(URL)";
var URLToOpen = "";

var waitingModal = new ZermosModal()
    .addHeading({text: "Koppel Somtoday aan je account!"})
    .addText({text: "De benodigde data wordt nu opgehaald, even geduld a.u.b."})
    .openTroughAppending(main);

    var schools = [];
    var suggestions = document.getElementById("suggestions");
    //https://servers.somtoday.nl/organisaties.json where oidcurls are [] and do not contain data
    fetch("https://cors.mjtsgamer.workers.dev/https://servers.somtoday.nl/organisaties.json")
    .then(response => response.json())
    .then(data => {
        data[0].instellingen.forEach(school => {
            schools.push({label: school.naam, value: school.uuid});
        });
        
        //sort them by label
        schools.sort((a, b) => a.label.localeCompare(b.label));
        
        waitingModal.close();

        new ZermosModal()
        .addHeading({text: "Koppel Somtoday aan je account!"})
        .addText({text: "Helaas is er geen betere manier om Somtoday te koppelen anders dan je gebruikersnaam en wachtwoord in te voeren. Wees gerust, je wachtwoord wordt niet opgeslagen. Als je meer vragen hebt, dan staat dat <a href=\"https://zermos-docs.kronk.tech/Somtoday#waarom-kan-ik-alleen-inloggen-met-mijn-wachtwoord\">hier</a> uitgelegd<br><br>*Let op! deze koppeling werkt alleen als je in 1 of 2 stappen moet inloggen bij Somtoday (gebruiksnaam en wachtwoord tegelijkertijd óf gebruikersnaam en daarna wachtwoord), als je bij Somtoday inlogt met een externe provider zoals Microsoft, dan kan je helaas niet inloggen!", asHtml: true})
        .addDropdown({options: schools, required: true, onChange: (ctx, uuid) => {
            console.log(uuid.value);
            URLToOpen = URL + uuid.value;
        }})
        .addButton({text: "Inloggen met Somtoday", onClick: () => {
            window = window.open(URLToOpen, "_blank");
        }})
        .openTroughAppending(main);
    });
    
</script>