@* @model object *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@* } *@
@* *@
@* <form asp-controller="koppelingen" asp-action="zermelo" method="post"> *@
@*     <!--Add username input with text 'gebruikersnaame' and password input with text 'wachtwoord'--> *@
@*     <input type="text" name="username" placeholder="gebruikersnaam"> *@
@*     <input type="password" name="password" placeholder="wachtwoord"> *@
@*     <input type="submit" value="Inloggen"> *@
@* </form> *@



@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="~/css/koppelingen.css" />

<div class="koppelingen-container">
    <div class="zermelo">
        <h1>Zermelo met QR-code</h1>
        <p>Zermelo koppelen met een koppel-code? Om Zermelo aan je account te koppelen moet je een code invoeren. Deze code kun je vinden in Zermelo, <a target="_blank" href="https://ccg.zportal.nl/main">hier</a> om precies te zijn. Als je op de website van Zermelo bent, klik dan op 'koppelingen' (het deel icoontje links in de navigatiebalk) en daarna op 'koppel externe applicatie', kopieer de code en plak die hieronder.</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a asp-controller="Koppelingen" asp-action="ZermeloWithQr">Koppel Zermelo een koppel-code</a>
        </div>
    </div>
    <div class="zermelo">
        <h1>Zermelo met koppel-code</h1>
        <p>Zermelo koppelen met een QR-code? Om Zermelo aan je account te koppelen moet je een qr-code scannen. Deze code kun je vinden in Zermelo, <a target="_blank" href="https://ccg.zportal.nl/main">hier</a> om precies te zijn. Als je op de website van Zermelo bent, klik dan op 'koppelingen' (het deel icoontje links in de navigatiebalk) en daarna op 'koppel externe applicatie', scan de code en tada, ingelogd. Pas wel op, je hebt hier een computer voor de qr-code nodig en een mobiel om te scannen!</p>
        <div class="spacer" style="padding: 0; margin-top: 8px"></div>
        <div class="methods">
            <a asp-controller="Koppelingen" asp-action="ZermeloWithCode">Koppel Zermelo een qr-code</a>
        </div>
    </div>
</div>