@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="~/css/koppelingen.css" />

<div class="login">
    <div class="login-explanation">
        <h1>Koppel Zermelo aan je account!</h1>
        <p>Dit is de makkelijkste manier om te koppelen. Je vult je gebruikersnaam en wachtwoord in en Zermos regelt de rest!</p>
    </div>
    <form method="post" asp-controller="Koppelingen" asp-action="ZermeloWithPassword" class="form-control">
        <input class="input" type="text" name="username" placeholder="gebruikersnaam">
        <input class="input" type="password" name="password" placeholder="wachtwoord">
        <button class="input submit" type="submit">Inloggen</button>
    </form>
</div>

<script>
    var inputfield = $('input[name="code"]');
    var submitbutton = $('button[type="submit"]');

    //when user submits the form, use the function below to check if the user is logged in
    document.getElementsByTagName("form")[0].addEventListener("submit", function (e) {
        e.preventDefault();
        
        var form = document.getElementsByTagName("form")[0];
        
        var url = form.action;
        var inputs = form.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            var input = inputs[i];
            if (input.type === "hidden") continue;
            url += (i === 0 ? "?" : "&") + input.name + "=" + input.value;
        }
        
        var button = document.getElementsByTagName("button")[0];
        button.innerHTML = "Bezig met laden...";
        button.disabled = true;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    if (xhr.responseText === "success") {
                        ReplacePage('@Url.Action("ShowAccount", "Account")');
                    }
                    else {
                        button.innerHTML = "Log opnieuw in";
                        button.disabled = false;
                    }
                }
            }
        };
        xhr.send();
    });
</script>
