@model dynamic

@{
    ViewBag.Title = "title";

}

<link rel="stylesheet" href="~/css/koppelingen.css" />

<div class="login">
    <div class="login-explanation">
        <h1>Koppel Zermelo aan je account!</h1>
        <p>Om Zermelo aan je account te koppelen moet je een qr-code scannen. Deze code kun je vinden in Zermelo, <a target="_blank" href="https://ccg.zportal.nl/main">hier</a> om precies te zijn. Als je op de website van Zermelo bent, klik dan op 'koppelingen' (het deel icoontje links in de navigatiebalk) en daarna op 'koppel externe applicatie', scan de code en tada, ingelogd. Pas wel op, je hebt hier een computer voor de qr-code nodig en een mobiel om te scannen!</p>
        <p id="no-camera" style="display: none; margin-top: unset;">Uh oh, of je device heeft geen camera, of je browser ondersteund geen camera's. Probeer het op een ander device of met een andere browser.</p>
        <div style="width: 100%; height: auto; border-radius: var(--border-radius); margin-top: var(--padding); overflow: hidden;" id="reader"></div>
        <div id="result" style="display: none; margin-top: var(--padding); width: 100%; text-align: center"></div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

//wait for script to load
var waitForLoad = function () {
    if (typeof Html5Qrcode !== "undefined") {
        init();
    } else {
        setTimeout(waitForLoad, 1000);
    }
};

waitForLoad();

function init() {

Html5Qrcode.getCameras().then(devices => {
    if (devices && devices.length) {

        const html5QrCode = new Html5Qrcode("reader");

        // if you scanned, it will be send to the internal api
        const qrCodeSuccessCallback = (decodedText, decodedResult) => {
            code = JSON.parse(decodedText).code;
            document.getElementById('result').innerText = 'Inlog code: ' + code.substring(0, 3) + ' ' + code.substring(3, 6) + ' ' + code.substring(6, 9) + ' ' + code.substring(9, 12);
            document.getElementById('result').style.display = 'block';
            html5QrCode.stop();
            
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '/Koppelingen/Zermelo/Code?code=' + code, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        if (xhr.responseText === "success") {
                            ReplacePage('@Url.Action("ShowAccount", "Account")');
                        }
                        else {
                            document.getElementById('result').innerText = 'Deze QR-code is verlopen of al gebruikt, probeer het opnieuw met een nieuwe code.';
                            
                            // wait 2 seconds and then reload the page
                            setTimeout(function () {
                                document.getElementById('result').style.display = 'none';
                                const config = {
                                    fps: 200,
                                    qrbox: 100
                                };
                        
                                // prefer the back camera else the front one 
                                html5QrCode.start({
                                    facingMode: "environment"
                                }, config, qrCodeSuccessCallback);
                            }, 3000);
                        }
                    }
                }
            };
            xhr.send();
        };

        const config = {
            fps: 200,
            qrbox: 100
        };

        // prefer the back camera else the front one 
        html5QrCode.start({
            facingMode: "environment"
        }, config, qrCodeSuccessCallback);
        
    } else {
        // no camera found
        var children = document.getElementsByClassName('login-explanation')[0].children;
        for (var i = 0; i < children.length; i++) {
            children[i].style.display = 'none';
        }
        
        //show the no-camera element
        document.getElementById('no-camera').style.display = 'block';
    }
    }).catch(err => {
        // no camera found
        var children = document.getElementsByClassName('login-explanation')[0].children;
        for (var i = 0; i < children.length; i++) {
            children[i].style.display = 'none';
        }
        
        //show the no-camera element
        document.getElementById('no-camera').style.display = 'block';
    });
}
</script>
