@model dynamic

@{
    ViewBag.Title = "title";

}

<link rel="stylesheet" href="~/css/koppelingen.css" />

<div class="login">
    <div class="login-child">
        <h1 class="child">Koppel Zermelo aan je account!</h1>
        <p class="child">Om Zermelo aan je account te koppelen moet je een qr-code scannen. Deze code kun je vinden in Zermelo, <a target="_blank" href="https://ccg.zportal.nl/main">hier</a> om precies te zijn. Als je op de website van Zermelo bent, klik dan op 'koppelingen' (het deel icoontje links in de navigatiebalk) en daarna op 'koppel externe applicatie', scan de code en tada, ingelogd. Pas wel op, je hebt hier een computer voor de qr-code nodig en een mobiel om te scannen!</p>
        <p class="child" style="display: none; margin-top: unset;">Uh oh, of je device heeft geen camera, of je browser ondersteund geen camera's. Probeer het op een ander device of met een andere browser.</p>
        <div style="width: 100%; height: auto; border-radius: 7px; margin-top: 16px; overflow: hidden;" id="reader"></div>
        <div id="result" style="display: none; margin-top: 16px; width: 100%; text-align: center"></div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
Html5Qrcode.getCameras().then(devices => {
    if (devices && devices.length) {

        const html5QrCode = new Html5Qrcode("reader");

        // if you scanned, it will be send to the internal api
        const qrCodeSuccessCallback = (decodedText, decodedResult) => {
            code = JSON.parse(decodedText).code;
            document.getElementById('result').innerText = 'Inlog code: ' + code.substring(0, 3) + ' ' + code.substring(3, 6) + ' ' + code.substring(6, 9) + ' ' + code.substring(9, 12);
            document.getElementById('result').style.display = 'block';
            html5QrCode.stop();
            //document.getElementById('reader').remove();
            //html5QrCode.clear();
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Koppelingen/Zermelo/Code?code=" + code + "&from=qr", true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    //follow redirect
                    window.location.href = this.responseURL;
                }
            }

            xhr.send();
        }

        const config = {
            fps: 200,
            qrbox: 100
        };

        // prefer the back camera else the front one 
        html5QrCode.start({
            facingMode: "environment"
        }, config, qrCodeSuccessCallback);
        
    } else {
        // no camera found
        document.getElementsByClassName('child')[0].style.display = 'none';
        document.getElementsByClassName('child')[1].style.display = 'none';
        document.getElementById('reader').style.display = 'none';
        document.getElementsByClassName('child')[2].style.display = 'block';
    }
    }).catch(err => {
        // no camera found
        document.getElementsByClassName('child')[0].style.display = 'none';
        document.getElementsByClassName('child')[1].style.display = 'none';
        document.getElementById('reader').style.display = 'none';
        document.getElementsByClassName('child')[2].style.display = 'block';
    });
</script>
