@model dynamic

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="/css/zermelo.css"/>

<div class="main-container" style="filter: blur(var(--padding))">
    <div class="times-container">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="days-container">
        <ul>
            <li></li>
            <li>Ma</li>
            <li>Di</li>
            <li>Wo</li>
            <li>Do</li>
            <li>Vr</li>
        </ul>
    </div>
    <div class="hours-container">
        <ul>
            <li></li>
            <li>08:20</li>
            <!-- 1st hour -->
            <li>09:10</li>
            <!-- 2nd hour -->
            <li>10:00</li>
            <!-- break -->
            <li>10:15</li>
            <!-- 3rd hour -->
            <li>11:05</li>
            <!-- 4th hour -->
            <li>11:55</li>
            <!-- break -->
            <li>12:25</li>
            <!-- 5th hour -->
            <li>13:15</li>
            <!-- 6th hour -->
            <li>14:05</li>
            <!-- 7th hour -->
            <li>14:55</li>
            <!-- break -->
            <li>15:10</li>
            <!-- 8th hour -->
            <li>16:00</li>
            <!-- 9th hour -->
            <li></li>
            <!-- end schoolday -->
        </ul>
    </div>
    <div class="lessons-container">
        <ul>
            <li class="lesdag">
                <div class="lesson-time-based  lesson" style="top: 0.000%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 9.804%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 22.549%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 32.353%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based canceled lesson" style="top: 48.039%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 57.843%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 80.392%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
            </li>
            <li class="lesdag">
                <div class="lesson-time-based  lesson" style="top: 48.039%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 57.843%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 67.647%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 80.392%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
            </li>
            <li class="lesdag">
                <div class="lesson-time-based  lesson" style="top: 0.000%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 9.804%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 22.549%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 32.353%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 48.039%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 57.843%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 67.647%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 80.392%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
            </li>
            <li class="lesdag">
                <div class="lesson-time-based  lesson" style="top: 0.000%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 9.804%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 22.549%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 32.353%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 48.039%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 57.843%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 67.647%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based  lesson" style="top: 80.392%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
            </li>
            <li class="lesdag">
                <div class="lesson-time-based canceled lesson" style="top: 22.549%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based canceled lesson" style="top: 48.039%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based canceled lesson" style="top: 57.843%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
                <div class="lesson-time-based canceled lesson" style="top: 67.647%; height: calc(9.804% - 8px);">
                    <p>les<p>
                    <p>lok<p>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
new ZermosModal()
.setTitle("Zermelo is niet gekoppeld")
.addText("Zermelo is zo te zien niet aan je Zermos account gekoppeld, hierdoor mis je een aantal functies. Klik op de knop hieronder om naar de koppelingen pagina te gaan en Zermelo te koppelen.")
.setSubmitButtonLabel("Ga naar koppelingen")
.disableClose()
.onSubmit(() => {
    ReplacePage('/koppelingen/Zermelo');
})
.open();
</script>