@model dynamic

<link rel="stylesheet" href="/css/koppelingen.css" preload/>

<script minimize>
@Context.Items["dmjs"]
    var modal = new ZermosModal(true)
    .addHeading({text: "Koppel Zermelo aan je account!"})
    .addText({text: "Zermelo koppelen met een koppelcode? Om Zermelo aan je account te koppelen moet je een code invoeren. Deze code kun je vinden in Zermelo, <a target='_blank' href='https://ccg.zportal.nl/app/'>hier</a> om precies te zijn. Als je op de website van Zermelo bent, klik dan op 'instellingen' en daarna op 'koppel externe applicatie'. Voer de 3-letterige code in het bovenste veld in en de 12-cijferige code in het onderste veld.", asHtml: true})
    .addLabel({text: "schoolcode code:"})
    .addTextInput({required: true})
    .addLabel({text: "12-cijferige code:"})
    .addTextInput({required: true, maxLength: 15})
    .addButton({text: "Koppel Zermelo", onClick: (ctx) => {
        var submitbutton = document.getElementById("submit-button");
        
        function checkCode(ctx) {
            var code = ctx.getComponentsValue().values[1].value || "";
            var institution = ctx.getComponentsValue().values[0].value || "";

            if (code.replace(" ", "").length !== 12) return;
            
            fetch('/Koppelingen/Zermelo/Code?code=' + code.replace(" ", "") + '&institution=' + institution, {
                method: 'POST'
            }).then(response => {
                if (response.status === 200) {
                    response.text().then(text => {
                        if (text === "success") {
                            newSidebar();
                            ReplacePage('@Url.Action("Account", "Account")');
                        }
                        else {
                            submitbutton.querySelector("div").innerText = "Code is verkeerd";
                            submitbutton.disabled = false;
                            setTimeout(function () {
                                submitbutton.querySelector("div").innerText = "Koppel Zermelo";
                            }, 2000);
                        }
                    });
                }
            });
        }
        
        checkCode(ctx);
    }, id: "submit-button"})
    .openTroughAppending(main);
</script>
