@model dynamic


<link rel="stylesheet" href="/css/koppelingen.css" preload/>

<style>
    
    .qr-canvas {
        width: 100%;
        max-width: 300px;
        position: relative;
        border-radius: var(--border-radius);
        overflow: hidden;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
    }
    
    .qr-canvas #reader {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
</style>

<script minimize type="module">
@Context.Items["dmjs"]

var modal = new ZermosModal()
.addHeading({text: "Koppel Zermelo aan je account!"})
.addText({text: "Zermelo koppelen met een QR-code? Om Zermelo aan je account te koppelen moet je een qr-code scannen. Deze code kun je vinden in Zermelo. Als je op de website van Zermelo bent, klik dan op 'instellingen' en daarna op 'koppel externe applicatie', scan de code en tada, ingelogd. Pas wel op, je hebt hier een computer voor de qr-code nodig en een mobiel om te scannen!"})
.addSubmenu({showCondition: "show == 0", subModal: new ZermosSubModal()
    .addText({text: "Uh oh, of je device heeft geen camera, of je browser ondersteund geen camera's. Probeer het op een ander device of met een andere browser."})
})
.addSubmenu({showCondition: "show == 1", subModal: new ZermosSubModal()
    .addHTML({html: "<div class='qr-canvas'><video id=\"reader\"></video></div>"})
})
.addSubmenu({showCondition: "show == 2", subModal: new ZermosSubModal()
    .addText({text: "Deze QR-code is verlopen of al gebruikt, probeer het opnieuw met een nieuwe code."})
    .addButton({text: "Probeer opnieuw", onClick: () => {
        modal.setCondition("show", 1);
        qrScanner.start();
    }})
})
.addSubmenu({showCondition: "show == 3", subModal: new ZermosSubModal()
    .addText({text: "Er is iets fout gegaan bij het scannen van de QR-code. Probeer het opnieuw."})
    .addButton({text: "Probeer opnieuw", onClick: () => {
        modal.setCondition("show", 1);
        qrScanner.start();
    }})
})
.addSubmenu({showCondition: "show == 4", subModal: new ZermosSubModal()
    .addText({text: "Er is een QR-code gedetecteerd, eens even kijken of deze code klopt..."})
})
.setCondition("show", 1)
.openTroughAppending(main);

import QrScanner from '/js/qr-scanner.min.js';

//wait till QrScanner is loaded
var timer = setInterval(function() {
    if (typeof QrScanner !== "undefined") {
        clearInterval(timer);
        startQrScanner();
    }
}, 100);

var video = document.getElementById('reader');
var qrScanner = null;

function startQrScanner() {
    qrScanner = new QrScanner(video, result => decodeSuccess(result), {
        onDecodeError: () => {},
        highlightScanRegion: true,
        highlightCodeOutline: true,
    });
    
    qrScanner.start()
    .catch(_ => {
        modal.setCondition("show", 0);
    });
}

function decodeSuccess(result) {
    modal.setCondition("show", 4);
    qrScanner.stop();
    
    var data = JSON.parse(result.data);
    var institution = data.institution;
    var code = data.code;
    
    if (!institution || !code) {
        modal.setCondition("show", 3);
    }
    
    modal.setCondition("show", 1);
    fetch("/Koppelingen/Zermelo/Code?code=" + code + "&institution=" + institution, { method: "POST"})
    .then(response => response.text())
    .then(result => {
        if (result === "success") {
            newSidebar();
            ReplacePage('@Url.Action("Account", "Account")');
        } else if (result === "expired") {
            modal.setCondition("show", 2);
        } else {
            modal.setCondition("show", 3);
        }
    });
}

Zermos.mainUnload = () => {
    if (qrScanner) {
        qrScanner.destroy();
    }
};
</script>