/*inlog pagina*/
.container:has(> .content) {
    grid-template-columns: unset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    grid-gap: 10px;
    margin-right: 1rem;
    width: var(--content-view-width);
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 10px;
    padding-bottom: calc(80px + 2rem);
}

.child {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
    padding: 1rem;
    border-radius: 2rem;
    background: var(--foreground-color);
    height: fit-content;
    flex: 1;
    /*set desired width to be half of the parent element*/
    width: calc(50% - 10px);
}

.password-based{
    background-color: var(--foreground-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.password-based-username {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

.password-based-username label {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    height: 25px;
    width: 100px;
    font-weight: 400;
}

.password-based-username input {
    font-size: 14px;
    color: var(--accent-color);
    font-weight: 400;
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 2rem;
    margin-top: 1rem;
}



.password-based-password {
    margin-top: 2rem;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

.password-based-password label {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    height: 25px;
    width: 100px;
    font-weight: 400;
}

.password-based-password input {
    font-size: 14px;
    color: var(--accent-color);
    font-weight: 400;
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 2rem;
    margin-top: 1rem;
}



.password-based-login-button {
    width:100%;
    /*align at the end of parent*/
    margin-top: auto;
    margin-bottom: 0;
}

.password-based-login-button button {
    background-color: var(--accent-color);
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    transition: .5s;
    width: 100%;
}

.password-based-login-button button:hover {
    background-color: var(--accent-color-hover);
    transition: .5s;
}

.qr-based{
    background-color: var(--foreground-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.information-page-heading {
    font-size: 30px;
    color: var(--text-color);
    text-align: center;
    font-weight: 400;
}

.information-page {
    background-color: var(--foreground-color);
    border-radius: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.information-page-text {
    margin-top: 1rem;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

.information-page-table {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: calc(100% - 2rem);
    outline: 2px solid var(--foreground-color);
    outline-offset: -2px;
    color: var(--text-color);
}

.information-page-table td {
    padding: 1rem;
    outline: 1px solid var(--text-color);
    text-align: center;
}

/*cijfer*/
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(355px, 100%/4)), 1fr));
    grid-auto-flow: row;
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

.grade-child {
    height: 100px;
    width: auto;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    transition: .5s;
}

.grade-child:hover {
    background-color: var(--accent-color);
    transition: .5s;
}

.grade-child:hover .subject{
    color: var(--foreground-color);
    transition: .5s;
}

.grade-child:hover .weight{
    color: var(--foreground-color);
    transition: .5s;
}

.grade-child .right{
    background: var(--accent-color);
    border-radius: 2rem;
    /*center text set bold and max size*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    z-index: 10;
    transition: .5s;
    width: 20%;
}

.grade-child .left{
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: start;
    font-weight: 700;
    font-size: 10px;
    color: var(--text-color);
    width: 60%;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subject {
    color: var(--text-color);
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    transition: .5s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.weight {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    width: 20%;
}

.passed {
    color: green;
}

.failed {
    color: red;
}


