*
{
    padding:0;
    margin:0;
    border:0;

    -webkit-tap-highlight-color: transparent;
}

html
{
    font-family:Poppins,sans-serif;

    --vh: vh
}

body
{
    background: var(--background-color);
    margin:0;

    --background-color: #222831;
    --text-color: #EEEEEE;
    --foreground-color: #393E46;
    --accent-color: #00ADB5;
    --accent-color-hover: #00D8D6;
}

::-webkit-scrollbar
{
    width:10px
}

::-webkit-scrollbar-track
{
    background:#292F42
}

::-webkit-scrollbar-thumb
{
    background:grey;
    border-radius:10px
}

::-webkit-scrollbar-thumb:hover
{
    background:#555
}

.site-nav
{
    width: 120px;
    height:calc(100vh - 2rem);
    border-radius: 2rem;
    top: 1rem;
    left: 1rem;
    position:fixed;
    background: var(--foreground-color);
    z-index: 1000;
}

.site-nav-header
{
    width:120px;
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: var(--accent-color);
    flex-direction:column;
    flex-wrap:nowrap;
    top: 1rem;
    position:fixed;
    font-weight:700;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.site-nav-header:hover
{
    background: var(--accent-color);
    color: var(--background-color);
}

.site-nav-header .z
{
    font-size:24px;
    transform:scale(2);
    position:fixed;
    transition:.5s ease
}

.site-nav-header:hover .z
{
    font-size:24px;
    transition:.75s ease;
    transform:translate(-300%,0)
    rotate(180deg);
}

.site-nav-header .ermos
{
    font-size:24px;
    transition:.6s ease;
    transform:translate(200%,0);
    z-index:-100;
    opacity: 0;
    pointer-events: none;
}

.site-nav-header:hover .ermos
{
    font-size:24px;
    transition:.75s ease;
    transform:translate(9%,0);
    opacity: 1;
}

.site-nav-links-parent {
    top: 80px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: var(--text-color);
    font-size:14px;
    font-weight:700;
    transition:.5s ease;
    cursor:pointer;
    position:relative;
    z-index:100
}

.site-nav-links-parent ul {
    width: 100%;
    height: calc(100vh - 2rem - 80px);
}

.site-nav-links-parent ul li {
    height: 80px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    position: relative;
    z-index: 100;
}

.site-nav-links-parent ul li:hover  {
    background: var(--accent-color);
    color: var(--background-color);
}

.site-nav-links-parent ul li p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s ease;
    z-index: -100;
    pointer-events: none;
}

/*img element move bit up when hovered over li*/
.site-nav-links-parent ul li img{
    transition: .5s ease;
}

.site-nav-links-parent ul li:hover img {
    transform: translateY(-15px);
    transition: .5s ease;
}

.site-nav-links-parent ul li:hover p {
    opacity: 1;
    transition: .5s ease;
    transform: translateY(15px);
}

.site-nav-links-parent ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size:14px;
    font-weight:700;
    text-decoration: none;
}

.site-nav-links-parent ul li .sub-menu {
    display: none;
}

.site-nav-links-parent ul li:hover .sub-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 120px;
    background: var(--foreground-color);
    border-radius: 0 2rem 2rem 0;
    z-index: 100;
    flex-direction: column;
}

/*if there is more than 1 child do the code below*/
.multi .sub-menu-item:last-child::before {
    content: "";
    position: absolute;

    left:0;
    bottom: -50px;
    height: 50px;
    width: 25px;
    border-top-left-radius: 2rem;
    box-shadow: 0 -25px 0 0 var(--foreground-color);
    transition: .5s ease;
}

.multi .sub-menu-item:last-child:hover::before {
    box-shadow: 0 -25px 0 0 var(--accent-color);
    transition: .5s ease;
}

.sub-menu-item{
    height: 80px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
    position: relative;
    z-index: 100;
}

.sub-menu-item a img{
    color: white;
}

.sub-menu-item:hover{
    background: var(--accent-color);
    color: var(--background-color);
}

/*if it is the first round top left corner 2rem if last round bottom left 2rem*/
.sub-menu-item:first-child{
    border-top-right-radius: 2rem;
}

.sub-menu-item:last-child{
    border-bottom-right-radius: 2rem;
}

.sub-menu a img {
    height: 35px;
    width: 35px;
}

.site-nav:hover + #background {
    backdrop-filter: blur(1rem);
    background-color: rgba(255,255,255,0.13);
    transition: 1s ease;
}


#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    pointer-events: none;
    transition: .5s ease;
    width: 100vw;
    height: 100vh;
}

.content
{
    --content-view-width:calc(100vw - 120px - 4rem);
    --content-view-height: calc(100vh - 2rem);
    top: 1rem;
    right: 1rem;
    width: var(--content-view-width);
    float:right;
    position:relative;
    z-index: -10000;
    padding-bottom: 1rem;
}


/*MOBILE MAX 600px + 120px + 2rem*/

@media screen and (max-width: calc(720px + 2rem)) {

    .site-nav
    {
        width: calc(100vw - 2rem);
        height: 80px;
        border-radius: 2rem;
        bottom: 1rem;
        top: unset;
        box-shadow: var(--accent-color) 0 0 1rem;
    }

    .site-nav:hover + #background {
        backdrop-filter: unset;
        background-color: unset;
        transition: unset;
    }

    .site-nav a {
        display: none;
    }

    .site-nav-links-parent {
        top: unset;
    }

    .site-nav-links-parent ul {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .site-nav-links-parent ul li {
        height: 80px;
        display: inline;
        margin: 0;
        width: 100%;
    }

    .site-nav-links-parent > ul > li:first-child {
        border-bottom-left-radius: 2rem;
    }

    .site-nav-links-parent > ul > li:last-child {
        border-bottom-right-radius: 2rem;
    }

    .site-nav-links-parent ul li:hover .sub-menu {
        width: 100%;
        height: 80px;
        position: relative;
        top: -160px;
        flex-direction: row;
        justify-content: center;
        left: 0;
        border-radius: unset;
        background: unset;
    }

    .sub-menu-item:first-child{
        border-top-left-radius: 2rem;
        border-top-right-radius: unset;
    }

    .sub-menu-item:last-child{
        border-top-right-radius: 2rem;
        border-bottom-right-radius: unset;
    }

    .sub-menu-item{
        background: var(--foreground-color);
        transition: unset;
        box-shadow: var(--accent-color) 0 0 1rem;
    }


    .multi .sub-menu-item:last-child::before {
        content: unset;
        position: unset;

        left: unset;
        bottom: unset;
        height: unset;
        width: unset;
        border-top-left-radius: unset;
        box-shadow: unset;
        transition: unset;
    }

    .multi .sub-menu-item:last-child:hover::before {
        box-shadow: unset;
        transition: unset;
    }



    .content {
        --content-view-width:calc(100vw - 2rem);
        --content-view-height: calc(var(--vh) * 100 - 3rem - 80px);
        top: 1rem;
        right: 1rem;
        left: 1rem;
        width: var(--content-view-width);
        height: var(--content-view-height);
        float:right;
        position:absolute;
        z-index: -10000;
        padding-bottom: 0;
    }
}