*
{
    padding:0;
    margin:0;
    border:0
}

html
{
    font-family:Ubuntu,sans-serif
}

body
{
    background: var(--oxford-blue);
    margin:0;

    --atomic-tangerine: #F7996Aff;
    --prussian-blue: #23354Fff;
    --oxford-blue: #1B2A40ff;
    --columbia-blue: #C0D4F2ff;
    --royal-blue-web-color: #3063DAff;
    --apricot: #FEDABF;
}

::-webkit-scrollbar
{
    width:10px
}

::-webkit-scrollbar-track
{
    background:#292F42
}

::-webkit-scrollbar-thumb
{
    background:grey;
    border-radius:10px
}

::-webkit-scrollbar-thumb:hover
{
    background:#555
}

.site-nav
{
    width: calc(120px + 2rem);
    height:100%;
    position:fixed;
    background: var(--atomic-tangerine);
}

.site-nav-header
{
    width:120px;
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#F2C641;
    flex-direction:column;
    flex-wrap:nowrap;
    top:0;
    position:fixed;
    font-weight:700;
}

.site-nav-header .z
{
    font-size:24px;
    transform:scale(2);
    position:fixed;
    transition:.25s ease
}

.site-nav-header:hover .z
{
    font-size:24px;
    transition:.5s ease;
    transform:translate(-300%,0)
    rotate(180deg);
}

.site-nav-header .ermos
{
    font-size:24px;
    transition:.4s ease;
    transform:translate(200%,0);
    z-index:-1;
    opacity: 0;
}

.site-nav-header:hover .ermos
{
    font-size:24px;
    transition:.5s ease;
    transform:translate(8%,0);
    opacity: 1;
}

.site-nav ul
{
    top:80px;
    position:fixed;
    padding:0;
    margin:0;
    width:120px;
    height:calc(100% - 80px);
    list-style:none;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center
}

.site-nav li
{
    margin: 5px;
    height:80px;
    display:flex;
    justify-content:center;
    color: var(--apricot);
    transition:.25s ease;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    width: 100px;
}

.site-nav li:last-child
{
    width:100%;
    height:80px;
    bottom:20px;
    display:flex;
    justify-content:center;
    color: var(--apricot);
    transition:.25s ease;
    position:absolute
}

nav.site-nav ul li.active
{
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    width: 100px;
}

.site-nav li:hover
{
    background-color: rgba(255,255,255,0.13);
    transition:.5s ease
}

.site-nav a
{
    width:100%;
    height:100%;
    text-decoration:none
}

.site-nav li p
{
    margin:0;
    padding:0;
    font-size:15px;
    height:auto;
    width:auto;
    color: var(--apricot);
    position:absolute;
    left:50%;
    transform:translate(-50%, 55px);
    font-weight: bold;
}

.site-nav li img
{
    width:30px;
    height:30px;
    margin:0;
    padding:0;
    position:absolute;
    left:50%;
    transform:translate(-50%,50%)
}

.site-nav-top
{
    width:calc(100% - 120px);
    right:0;
    height:80px;
    position:fixed;
    background:#1F1E2C;
    z-index:1
}

.page-title
{
    height:80px;
    position:fixed;
    top:0;
    left:150px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: var(--apricot);
    font-size:14px;
    background:#1F1E2C
}

.content
{
    --content-view-width:calc(100vw - 120px);
    --content-view-height: 100vh;
    width: var(--content-view-width);
    height:max-content;
    float:right;
    position:relative;
    z-index: 1;
    background: var(--oxford-blue);
    overflow:hidden;
    display:grid;
    grid-template-columns:4fr 1fr;
    grid-gap:10px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

a:hover {
    color: blue;
    text-decoration: underline;
    /* Set the tooltip to be transparent */
    background-color: transparent;
    border: none;
}