.content{
    display:grid;
    grid-template-columns:4fr 1fr;
    grid-column-gap :10px;
}

.rooster-container
{
    display:grid;
    grid-gap:10px;
    height: var(--content-view-height);
}

.rooster-times-container
{
    display:grid;
    grid-template-columns:80px 1fr;
    grid-gap:10px;
}

.grid-container
{
    border-radius: 2rem;
    overflow:hidden;
    display:grid;
    background-color: var(--foreground-color);
    padding:0;
    grid-template-columns:repeat(5,1fr);
    max-width:100%;
    width:calc(var(--content-view-width) * 0.75);
    grid-gap:1px;
    height:calc(var(--content-view-height) - 40px)
}

.grid-column
{
    border-radius: 2rem;
    padding:0;
    font-size:30px;
    text-align:center;
    display:grid;
    grid-template-rows:repeat(9,1fr);
    grid-gap:1px
}

.grid-column-numbering
{
    background-color: var(--foreground-color);
    padding:0;
    font-size:30px;
    text-align:center;
    width:80px;
    display:grid;
    max-height:100%;
    grid-template-rows:repeat(9,1fr);
    grid-template-columns:80px;
    height:calc(var(--content-view-height) - 40px);
    border-radius: 2rem;
    overflow:hidden;
    grid-gap:1px;
    color: var(--text-color);
}

.grid-column .grid-item
{
    overflow:hidden;
    background-color: var(--foreground-color);
    padding:5px;
    font-size:18px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
}

.grid-column .grid-item
{

}

.grid-column-days
{
    margin-left:100px;
    background-color: var(--foreground-color);
    border-radius: 2rem;
    overflow:hidden;
    display:grid;
    padding:0;
    grid-template-columns:repeat(5,1fr);
    max-width:100%;
    grid-gap:1px;
    color: var(--text-color);
}

.grid-column-days .grid-item
{
    overflow:hidden;
    background-color: var(--foreground-color);
    padding:5px;
    font-size:18px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: 400;
}

.grid-item-info
{
    border-radius: 2rem;
    overflow:hidden;
    display:grid;
    background-color: var(--foreground-color);
    padding:0;
}

.grid-column-numbering .grid-item
{
    overflow:hidden;
    background-color: var(--foreground-color);
    padding:5px;
    font-size:18px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    grid-row-gap:10px
}

.cancelled
{
    background-color: #ff674e !important;
    color: white;
    border-radius: 2rem;
}

/*css for lessons is below*/

.lesson-container{
    height:var(--content-view-height);
}

.lesson-content{
    height: calc(var(--content-view-height) - 40px);
    border-radius: 1rem;
    margin: 10px;
    font-weight: 400;
    background-color: var(--foreground-color);
    color: var(--text-color);
}

.list{
    margin: 0 auto;
    list-style-type: none;
    float: left;
    padding-right: 10px;
}

/*inlog pagina*/

.container:has(> .content) {
    grid-template-columns: unset;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    grid-gap: 10px;
    margin-right: 1rem;
    width: var(--content-view-width);
    height: fit-content;
}

.container {
    width: 100%;
    height: 100%;
}

.child {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
    padding: 2rem;
    border-radius: 2rem;
    background: var(--foreground-color);
    height: fit-content;
    max-width: calc(720px + 2rem);
    min-width: calc(250px);
    flex: 1;
}

.password-based{
    background-color: var(--foreground-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.password-based-username {
    margin-top: 2rem;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

.password-based-username label {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    height: 25px;
    width: 100px;
    font-weight: 400;
}

.password-based-username input {
    font-size: 14px;
    color: var(--accent-color);
    font-weight: 400;
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 2rem;
    margin-top: 1rem;
}



.password-based-password {
    margin-top: 2rem;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    height: 75px;
    width: 100%;
}

.password-based-password label {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    height: 25px;
    width: 100px;
    font-weight: 400;
}

.password-based-password input {
    font-size: 14px;
    color: var(--accent-color);
    font-weight: 400;
    text-align: center;
    height: 50px;
    width: 100%;
    border-radius: 2rem;
    margin-top: 1rem;
}



.password-based-login-button {
    width:100%;
    /*align at the end of parent*/
    margin-top: auto;
    margin-bottom: 0;
}

.password-based-login-button button {
    background-color: var(--accent-color);
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    transition: .5s;
    width: 100%;
}

.password-based-login-button button:hover {
    background-color: var(--accent-color-hover);
    transition: .5s;
}

.qr-based{
    background-color: var(--foreground-color);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.information-page-heading {
    font-size: 30px;
    color: var(--text-color);
    text-align: center;
    font-weight: 400;
}

.information-page {
    background-color: var(--foreground-color);
    border-radius: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.information-page-text {
    margin-top: 1rem;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
}

.information-page-table {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: calc(100% - 2rem);
    outline: 2px solid var(--foreground-color);
    outline-offset: -2px;
    color: var(--text-color);
}

.information-page-table td {
    padding: 1rem;
    outline: 1px solid var(--text-color);
    text-align: center;
}

@media screen and (max-width: calc(600px + 120px + 2rem)) {

    .content {
        display: unset;
        --content-view-height: calc(100vh - 6rem);
    }

    .grid-item-info {
        display: none;
    }

    .grid-column-days {
        justify-items: center;
        height: 40px;
    }

    .grid-column-days > .grid-item{
        font-family: monospace;
        font-weight: bold;
        width: 15px;
        white-space: normal;
        justify-content: start;
    }

    .grid-column-numbering {
        max-height: calc(calc(100vh - 8rem) - 40px);
    }

    .grid-container {
        max-height: calc(calc(100vh - 8rem) - 40px);
        width: auto;
    }

    .grid-column {
        max-height: calc(calc(100vh - 8rem) - 40px);
    }

    .grid-item {
        font-size: 13px !important;
    }

    .cancelled {
        border-radius: 1.5rem;
    }

    .rooster-container {
        height: calc(calc(100vh - 6rem) - 40px);
        grid-template-rows: 40px 1fr;
    }
}
