.rooster-container
{
    display:grid;
    grid-gap:10px;
}

.rooster-times-container
{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
}

.grid-container
{
    border-radius: 2rem;
    overflow:hidden;
    display:grid;
    background-color: var(--foreground-color);
    padding:0;
    grid-template-columns:repeat(5,1fr);
    max-width:100%;
    width:calc(var(--content-view-width) * 0.75);
    grid-gap:1px;
    height:calc(var(--content-view-height) - 40px)
}

.grid-column
{
    border-radius: 2rem;
    padding:0;
    font-size:30px;
    text-align:center;
    display:grid;
    grid-template-rows:repeat(9,1fr);
    grid-gap:1px
}

.grid-column-numbering
{
    background-color: var(--foreground-color);
    padding:0;
    font-size:30px;
    text-align:center;
    width:80px;
    display:grid;
    max-height:100%;
    grid-template-rows:repeat(9,1fr);
    grid-template-columns:80px;
    height:calc(var(--content-view-height) - 40px);
    border-radius: 2rem;
    overflow:hidden;
    grid-gap:1px;
    color: var(--text-color);
}

.grid-column .grid-item
{
    overflow:hidden;
    background-color: var(--foreground-color);
    padding:5px;
    font-size:18px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
}

.grid-column-days
{
    margin-left:100px;
    background-color: var(--foreground-color);
    border-radius: 2rem;
    overflow:hidden;
    display:grid;
    padding:0;
    grid-template-columns:repeat(5,1fr);
    max-width:100%;
    grid-gap:1px;
    color: var(--text-color);
}

.grid-column-days .grid-item
{
    overflow:hidden;
    background-color: var(--foreground-color);
    padding:5px;
    font-size:18px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700
}

.grid-item-info
{
    border-radius: 2rem;
    overflow:hidden;
    display:grid;
    background-color: var(--foreground-color);
    padding:0;
    max-height: calc(100vh - 30px);
}

.grid-column-numbering .grid-item
{
    overflow:hidden;
    background-color: var(--foreground-color);
    padding:5px;
    font-size:18px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    grid-row-gap:10px
}

.cancelled
{
    background-color: #ff674e !important;
    color: white;
    border-radius: 2rem;
}

/*css for lessons is below*/

.lesson-container{
    width:var(--content-view-width);
    height:var(--content-view-height);
}

.lesson-content{
    width: calc(var(--content-view-width) - 40px);
    height: calc(var(--content-view-height) - 40px);
    border-radius: 1rem;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: var(--foreground-color);
    color: var(--text-color);
}

.list{
    margin: 0 auto;
    list-style-type: none;
    float: left;
    padding-right: 10px;
}