.rooster-container
{
    display:grid;
    grid-template-rows:40px 1fr;
    max-height:calc(100vh - 80px);
    grid-gap:10px
}

.rooster-times-container
{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:10px;
    top:80px;
    bottom:0
}

.grid-container
{
    border-radius:1rem;
    overflow:hidden;
    display:grid;
    background-color:rgba(255,255,255,0.8);
    padding:0;
    grid-template-columns:repeat(5,1fr);
    max-width:100%;
    grid-template-rows:repeat(9,1fr);
    width:calc(var(--content-view-width) * 0.75);
    grid-gap:1px;
    height:calc(var(--content-view-height) - 60px)
}

.grid-column
{
    border-radius:1rem;
    padding:0;
    font-size:30px;
    text-align:center;
    display:grid;
    grid-template-rows:repeat(9,1fr);
    height:calc(var(--content-view-height) - 60px);
    grid-gap:1px
}

.grid-column-numbering
{
    background-color:rgba(255,255,255,0.8);
    padding:0;
    font-size:30px;
    text-align:center;
    width:80px;
    display:grid;
    max-height:100%;
    grid-template-rows:repeat(9,1fr);
    grid-template-columns:80px;
    height:calc(var(--content-view-height) - 60px)
}

.grid-column .grid-item
{
    overflow:hidden;
    background-color:rgba(255,255,255,0.8);
    padding:5px;
    font-size:18px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.grid-column-days
{
    margin-top:10px;
    margin-left:100px;
    background-color:rgba(255,255,255,0.8);
    border-radius:1rem;
    overflow:hidden;
    display:grid;
    padding:0;
    grid-template-columns:repeat(5,1fr);
    max-width:100%;
    grid-gap:1px
}

.grid-column-days .grid-item
{
    overflow:hidden;
    background-color:rgba(255,255,255,0.8);
    padding:5px;
    font-size:18px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700
}

.grid-item-info
{
    border-radius:1rem;
    overflow:hidden;
    margin:10px 10px 0 0;
    display:grid;
    background-color:rgba(255,255,255,0.8);
    padding:0
}

.grid-column-numbering
{
    border-radius:1rem;
    overflow:hidden;
    margin:0 0 0 10px;
    display:grid;
    background-color :rgba(255,255,255,0.8);
    padding:0;
    grid-gap:1px
}

.grid-column-numbering .grid-item
{
    overflow:hidden;
    background-color:rgba(255,255,255,0.8);
    padding:5px;
    font-size:18px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
    grid-row-gap:10px
}

.cancelled
{
    background-color: #ff674e !important;
    color: white;
}

/*css for lessons are below*/

.lesson-container{
    margin: 0;
    padding: 0;
    background: #ff674e;
    display:grid;
    top:80px;
    bottom:0;
    width:calc(var(--content-view-width));
    height:calc(var(--content-view-height));
}