@model MicrosoftOnedriveFileModel

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="/css/microsoft.css">

<div class="actions-row" style="height: 0; margin-bottom: 0;">
    <div id="change-name" onclick="UpdateName(document.querySelector('.selected').getAttribute('note-id'))">
        <i class="fa-solid fa-edit"></i>
        Naam wijzigen
    </div>
    <div id="delete" onclick="deleteNotebook(document.querySelector('.selected').getAttribute('note-id'))">
        <i class="fa-solid fa-trash"></i>
        Verwijderen
    </div>
    <div onclick="alert('Deze functie is nog niet geimplementeerd')">
        <i class="fa-solid fa-file-export"></i>
        Exporteren
    </div>
</div>

<table class="table">
    <tbody>
        <tr class="table-header">
            <th scope="col" style="width: 0;"></th>
            <th scope="col" style="width: 0;"><i class="fa-solid fa-file"></i></th>
            <th scope="col">Naam</th>
            <th scope="col">Items</th>
            <th scope="col">Laatst gewijzigd</th>
            <th scope="col">Grootte</th>
        </tr>
    </tbody>

    <!-- space all the columns -->

    
</table>



<script>
//add a div after the <!-- space all the columns --> comment
var findComments = function(el) {
    var arr = [];
    for(var i = 0; i < el.childNodes.length; i++) {
        var node = el.childNodes[i];
        if(node.nodeType === 8) {
            arr.push(node);
        } else {
            arr.push.apply(arr, findComments(node));
        }
    }
    return arr;
};

var comments = findComments(main);
comments.forEach(element => {
    if (element.nodeValue === " space all the columns ") {
        var space = document.createElement('div');
        space.classList.add('spacer');
        space.attributes['colspan'] = 100;
        element.after(space);
    }
});

FetchNew('root'); //fetches the root folder

function deleteNotebook(uuid) {
    new ZermosModal()
    .setTitle("Notitieboek verwijderen")
    .addText("Weet je zeker dat je dit notitieboek wilt verwijderen? Vul de naam van het notitieboek in om te bevestigen.")
    .addInput(document.querySelector('.selected .notitieboek-naam').innerText)
    .setSubmitButtonLabel("Verwijderen")
    .onSubmit((input) => {
        if (input === document.querySelector('.selected .notitieboek-naam').innerText) {   
            fetch('@Context.Request.Path/' + uuid, {
                    method: 'DELETE'
                }).then(response => {
                    if (response.status === 200) {
                        ReplacePage('/Notities');
                    }
                }).catch(error => {
                    console.error(error);
                });
        }
    })
    .open();
}

function UpdateName(uuid) {
    new ZermosModal()
    .setTitle("Naam wijzigen")
    .addInput("Wat wil je dat de nieuwe naam wordt?")
    .setSubmitButtonLabel("Naam wijzigen")
    .onSubmit((name) => {
        fetch('@Context.Request.Path/' + uuid, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({Naam: name})
            }).then(response => {
                if (response.status === 200) {
                    ReplacePage('/Notities');
                }
            }).catch(error => {
                console.error(error);
            });
    })
    .open();
}
    
addButtonToPage('fa-plus', AddNotebook)

function AddNotebook() {
     new ZermosModal()
    .setTitle("Nieuw notitieboek")
    .addInput("Wat wil je dat de nieuwe naam wordt?")
    .setSubmitButtonLabel("Naam wijzigen")
    .onSubmit((naam) => {
        fetch('@Context.Request.Path', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({Naam: naam})
        }).then(response => {
            if (response.status === 200) {
                ReplacePage('/Notities');
            }
        }).catch(error => {
            console.error(error);
        });
    })
    .open();
}

function FetchNew(id) {      
    //xhr
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/Microsoft/Onedrive/" + id);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.setRequestHeader("Accept", "application/json");
     
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                
                var oldTbody = document.querySelectorAll('.table tbody')[1] ?? document.createElement('tbody');
                oldTbody.style.position = "relative";
                oldTbody.style.left = "-100vw";
                oldTbody.style.opacity = "0";
                oldTbody.style.transition = "left 0.5s, opacity 0.5s";
                setTimeout(() => {
                    oldTbody.remove();
                
                    var tbody = document.createElement('tbody');
                    tbody.innerHTML = xhr.responseText;
                    tbody.style.position = "relative";
                    tbody.style.left = "100vw";
                    tbody.style.opacity = "0";
                    tbody.style.transition = "left 0.5s, opacity 0.5s";
                    document.querySelector('.table').appendChild(tbody);
                    
                    setTimeout(() => {
                        tbody.style.left = "0";
                        tbody.style.opacity = "1";
                    }, 10);
                
                }, 500);

                addSelectables();                
            } else {
                alert("Er is iets fout gegaan, probeer het later opnieuw.");
            }
        }
    }
    
    xhr.send();
}

function addSelectables() {
    var selectable = document.getElementsByClassName('fa-circle');
    
    for (var i = 0; i < selectable.length; i++) {
        selectable[i].onclick = function() {
            if (this.classList.contains('fa-circle')) {
                document.querySelectorAll('.fa-check-circle').forEach(element => {
                    element.classList.remove('fa-check-circle');
                    element.classList.add('fa-circle');
                    element.parentElement.parentElement.classList.remove('selected');
                });
    
                this.classList.remove('fa-circle');
                this.classList.add('fa-check-circle');
                this.parentElement.parentElement.classList.add('selected');
    
                document.querySelector('.actions-row').style.height = "";
                document.querySelector('.actions-row').style.marginBottom = "";
            } else {
                this.classList.remove('fa-check-circle');
                this.classList.add('fa-circle');
                this.parentElement.parentElement.classList.remove('selected');
                document.querySelector('.actions-row').style.height = "0";
                document.querySelector('.actions-row').style.marginBottom = "0";
            }
        };
    }
}
</script>
