@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Deze pagina is niet gevonden!?</h2>
<p>Deze pagina is waarschijnlijk nog niet gemaakt, het kan ook zijn dat de ingevoerde link niet klopt.</p>
