@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<p>Aan deze pagina wordt nog gewerkt, dit is dus coming soon&trade;</p>
<p style="font-size: 0.5em; position: absolute; bottom: 16px; right: 16px;">Maar niks kan beloofd worden ;)</p>