@model Zermos_Web.Controllers.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2>Oei, er is iets mis gegaan!</h2>
<p>Er is iets mis gegaan, waardoor de pagina niet geladen kan worden. Probeer het later nog eens.</p>