@{
    ViewBag.Title = "title";
}

<h1>Oei, balen zeg!</h1> 
<p>Je hebt een pagina gevonden die nog niet bestaat. Ik ben er vast mee bezig!</p>
<p style="font-size: 0.75rem; position: absolute; bottom: 4px; right: 4px;">Of ik ben vergeten de pagina aan te zetten...</p>