@model dynamic

@{
    ViewBag.Title = "title";
}

<form class="add-item" id="add-item">
    <div class="Naam">
        <label for="date">Welke naam moet dit notitieboek krijgen??</label>
        <input type="text" name="Naam" id="Naam" placeholder="Naam"/>
    </div>

    <button type="submit" class="submit">Notitieboek toevoegen</button>
</form>

<script>
$('#add-homework').submit(function(e) {
    e.preventDefault();
    
    fetch('/Somtoday/Huiswerk/Nieuw', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `title=${document.getElementById("title").value}&description=${document.getElementById("description").value}&date=${document.getElementById("date").value}`
    }).then(response => {
        if (response.status === 200) {
            ReplacePage('/Somtoday/Huiswerk');
        }
    }).catch(error => {
        console.error(error);
    });
});
</script>