@using Zermos_Web.Models.Zermos
@model Zermos_Web.Models.Zermos.NotitieBoek

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="/css/notities.css">

<div class="notitie-card-container">
    @foreach (Notitie notitie in Model.Notities)
    {
        string url = Context.Request.Path + "/" + notitie.Id;

        <div class="notitie-card" onclick="ReplacePage('@url')">
            <h1>@notitie.Titel</h1>
            <p>@notitie.Omschrijving</p>
            
            <div class="tags">
                @foreach (var tag in notitie.Tags)
                {
                    <p class="tag">@tag</p>
                }
            </div>
        </div>
    }
</div>