@model Zermos_Web.Models.Zermos.Paragraph

@{
    ViewBag.Title = "GetParagraph";
    //https://www.htmeditor.com
}

<style>
    .full-screen {
        width: 100% !important;
        height: 100% !important;
        background-color: #fff;
        color: #000;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    
    .full-screen textarea {
        width: 100% !important;
        height: 100% !important;
        background-color: #fff;
        color: #000;
        overflow: hidden;
        padding: var(--padding);
        font-size: var(--font-size);
        border-radius: var(--border-radius);
    }
</style>

<div class="full-screen">
    <textarea name="editor" id="1" cols="30" rows="10">Momenteel is deze functie niet echt onderhouden en de kans dat dit weer verdwijnt is groot :( te groot project.</textarea>
</div>

<script>

function enterFullscreen() {
    //fullscreen is on toggle it off
    if (document.fullscreenElement) {
        document.exitFullscreen();
    }

    //fullscreen is off toggle it on
    else {
        document.querySelector(".full-screen").requestFullscreen({
            navigationUI: "hide"
        });
    }
}
</script>