@using Zermos_Web.Models.Zermos
@model Zermos_Web.Models.Zermos.NotitiesModel

@{
    ViewBag.Title = "title";
}

<link rel="stylesheet" href="/css/notities.css">

<div class="notitie-card-container">
    @foreach (NotitieBoek notitieBoek in Model.NotitieBoeken)
    {
        string url = "/Notities/" + notitieBoek.Id;

        <div class="notitie-card" onclick="ReplacePage('@url')">
            <h1>@notitieBoek.Naam</h1>
            <p>Dit notitieboek bevat @notitieBoek.Notities.Count notitie@(notitieBoek.Notities.Count == 1 ? "" : "s")</p>
        </div>
    }
</div>

<script>
//onload
loadHomeworkSearch();

function loadHomeworkSearch() {            
    //if the homeworkSearch is already loaded, don't load it again
    if (document.getElementsByClassName('bottom-right-add-button').length > 0)
        document.getElementsByClassName('bottom-right-add-button')[0].remove();
        
    document.querySelector(".bottom ul").innerHTML += 
    '<div class="bottom-right-add-button" id="added-by-fetch" style="display: none; z-index: 100">' +
        '<a style="position: unset;">' +
            '<i class="fa-solid fa-plus" id="ToggleButton"></i>' +
        '</a>'+
    '</div>';
    
    document.querySelector(".bottom ul").innerHTML += 
    '<div class="popup hidden" id="added-by-fetch"></div>';
    
    document.querySelector('.popup').innerHTML += 
    '<form class="add-item" id="add-item" style="width: 100%;">'+
        '<div class="Naam">'+
            '<label for="date">Welke naam moet dit notitieboek krijgen?</label>'+
            '<input type="text" name="Naam" id="Naam" placeholder="Naam"/>'+
        '</div>'+
        '<button type="submit" class="submit">Notitieboek toevoegen</button>'+
    '</form>';
    
    var isOpen = false;
    
    document.querySelector('#ToggleButton').parentElement.onclick = function() {
        
        if (isOpen)
            closeSearchPopUp();
        else
            openSearchPopUp();
        isOpen = !isOpen;
    };
    
    function openSearchPopUp() {
        //remove the 'hidden' class
        document.getElementsByClassName('popup')[0].classList.remove('hidden');
        //add transform: rotateZ(45deg); to bottom-right-add-button
        document.querySelector('.bottom-right-add-button').style.transform = 'rotateZ(135deg)';
    }
    
    function closeSearchPopUp() {
        //add the 'hidden' class
        document.getElementsByClassName('popup')[0].classList.add('hidden');
        //remove transform: rotateZ(45deg); from bottom-right-add-button
        document.querySelector('.bottom-right-add-button').style.transform = 'rotateZ(0deg)';
    }
}
</script>