@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<string, int>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    //whem the model is 0, show the login page

    //when model is 11, say that the email for logging in is send
    //when model is 12, say that the email for creating an account is send
    //when model is 13, say that you logged in succesfully

    //when model is 21, say that the user in not found
    //when model is 22, say that the verification code is expired
    //when model is 23, say that the verification code is wrong
    //when model is 24, say that the user is already verified
    
    //when model is 3, say that the user is logged out
}

@if (Model == null || Model.Item2 == 0)
{
    <div class="login">
        <div class="login-child">
            <p class="child">Zermos gebruikt alleen je schoolmail!</p>
            <p class="child">Nadat je je e-mailadres hebt ingevuld en op 'Inloggen' hebt geklikt, ontvang je een e-mail met een link om in te loggen. Als je nog geen account hebt, ontvang je een e-mail om een account aan te maken. Super simpel!</p>
        </div>
        <form method="post" asp-action="Login" asp-controller="AccountAuthentication" asp-route-ReturnUrl="@ViewData["returnUrl"]" class="form-control">
            <input type="text" name="email" placeholder="vul je schoolemail in">
            <input type="submit" value="Inloggen">
            <input type="hidden" name="isPWA" value="false">
        </form>
    </div>
}
else if (Model.Item2 == 11)
{
    <div class="login">
        <div class="login-child">
            <p class="child">Welkom terug!</p>
            <p class="child">Er is een e-mail gestuurd naar <b>@(Model.Item1 ?? "[email]")</b> met een link om in te loggen. Controleer je inbox, en klik op de link om direct toegang te krijgen. Als je de e-mail niet binnen enkele minuten ziet, controleer dan je spam map.</p>
        </div>
    </div>
}
else if (Model.Item2 == 12)
{
    <div class="login">
        <div class="login-child">
            <p class="child">Welkom bij Zermos!</p>
            <p class="child">Geweldig! We hebben zojuist een e-mail verzonden naar <b>@(Model.Item1 ?? "[email]")</b> met de link om een account aan te maken. Ga snel naar je inbox om de e-mail te vinden. Als je de e-mail niet binnen enkele minuten ziet, controleer dan je spam map.</p>
        </div>
    </div>
}
else if (Model.Item2 == 13)
{
    <div class="login">
        <div class="login-child">
            <p class="child">Succes!</p>
            <p class="child">Je bent succesvol ingelogd op je account. Welkom terug, <b>@(Model.Item1 ?? "[email]")</b>! Je hebt nu volledige toegang tot alle functies en mogelijkheden, mits je ze gekoppeld heb.</p>
        </div>
    </div>
}
else if (Model.Item2 == 21)
{
    <div class="login">
        <div class="login-child">
            <p class="child">Deze gebruiker is niet gevonden.</p>
        </div>
    </div>
}
else if (Model.Item2 == 22)
{
    <div class="login">
        <div class="login-child">
            <p class="child">Deze verificatie code is verlopen.</p>
        </div>
    </div>
}
else if (Model.Item2 == 23)
{
    <div class="login">
        <div class="login-child">
            <p class="child">Deze verificatie code is niet geldig.</p>
        </div>
    </div>
}
else if (Model.Item2 == 24)
{
    <div class="login">
        <div class="login-child">
            <p class="child">Deze gebruiker is al geverifieerd.</p>
        </div>
    </div>
}
else if (Model.Item2 == 3)
{
    <div class="login">
        <div class="login-child">
            <p class="child">Uitgelogd!</p>
            <p class="child">Je bent succesvol uitgelogd van je account. Je kan nu niet meer bij je gegevens, en je moet opnieuw inloggen om ze weer te kunnen zien.</p>
        </div>
    </div>
}
else
{
    <div class="login">
        <div class="login-child">
            <p class="child" style="color: #EB3628">Er is een onbekende fout opgetreden?</p>
        </div>
    </div>
}

@section Scripts
{
    <script>
        const isInStandaloneMode = () =>
              (window.matchMedia('(display-mode: standalone)').matches) || (window.navigator.standalone) || document.referrer.includes('android-app://');
        console.log(isInStandaloneMode());
        if (isInStandaloneMode()) {
            document.querySelector('input[name="isPWA"]').value = 'true'
        }
    </script>
}
